<div class="row">
	<div class="col-6 mx-auto">
		<div class="list-group">
			<div class="list-group-item">
				<div style="cursor:pointer" data-toggle="collapse" href="#collapseNewTrip" aria-expanded="false" aria-controls="collapseNewTrip" class="d-flex w-100">
					<div class="d-flex w-100">
						<h5>
							<span style="color: green;"><i class="fa fa-plus" aria-hidden="true"></i> </span> Nouvelle sortie
						</h5>
					</div>
				</div>
				<div class="col-12 collapse" id="collapseNewTrip">
					<div class="col-12">
						<label class="lead" for="">Nom de la sortie : </label>
						<input type="text" class="form-control form-control-lg" placeholder="Exemple : Le grand puit du fanion entre amis" />
					</div>

					<div class="col-12 mt-2">
						<label class="lead" for="">Dates :</label>
					</div>
						
					<div class="row">
						

						<label for="example-datetime-local-input" class="col-1 offset-1">Du </label>
						<div class="col-8">
							<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
						</div>
						<div class="col-2"></div>
						<label for="example-datetime-local-input" class="col-1 offset-1 my-2">au </label>
						<div class="col-8 my-2">
							<input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
						</div>
					</div>
					<div class="col-12 mt-2">
						<label class="lead" for="">Localisation :</label>
					</div>
					<div class="map" id="trip_map" style="z-index:200"></div>
					<div class="row justify-content-end mt-2">
						<button class="btn btn-outline-primary mr-3">
							Créer la sortie
						</button>
					</div>
				</div>
				
			</div>
			
		</div>

		<!-- ________________________________________________ -->


		<!-- ________________________________________________ -->
		<div class="list-group mt-2">
			<button class="list-group-item">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Sortie trop cool d'hivers</h5>
					<span class="lead">3 observations</span>
					<small>30/01/2017</small>
				</div>
			</button>
			<button class="list-group-item">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Les dauphins de oufs </h5>
					<span class="lead">5 observations</span>
					<small>26/10/2016</small>
				</div>
			</button>
			<button class="list-group-item">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">La belle montagne !!!</h5>
					<span class="lead">6 observations</span>
					<small>15/06/2016</small>
				</div>
			</button>

		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col-2 offset-8">
		<a routerLink="./../select_species" class="btn btn-outline-primary btn-block">
			Passez à l'étape suivante
		</a>
	</div>
</div>