<div class="row">
	<div class="col-6 mx-auto">
		<div class="list-group">
			<button class="list-group-item">
				<div class="d-flex w-100">
					<h5>
						<span style="color: green;"><i class="fa fa-plus" aria-hidden="true"></i> </span> Nouvelle sortie
					</h5>
				</div>
			</button>
		</div>
		<div class="list-group mt-2">
			<button class="list-group-item">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Sortie trop cool d'hivers</h5>
					<span class="lead">3 observations</span>
					<small>30/01/2017</small>
				</div>
			</button>
			<button class="list-group-item">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Les dauphins de oufs </h5>
					<span class="lead">5 observations</span>
					<small>26/10/2016</small>
				</div>
			</button>
			<button class="list-group-item">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">La belle montagne !!!</h5>
					<span class="lead">6 observations</span>
					<small>15/06/2016</small>
				</div>
			</button>

		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col-2 offset-8">
		<a routerLink="./../select_species" class="btn btn-outline-primary btn-block">
			Suivant
		</a>
	</div>
</div>