<my-org-banner-component></my-org-banner-component>
<my-org-menu-component></my-org-menu-component>

<div class="row v-padding-20 justify-content-center">
  <h1 class="display-3"> O.F.N.: Devenir membre</h1>
</div>
<div id="obs_content" class="faded_background pt-3 rounded row" >
  <div class="row my-1 w-50 mx-auto">
    <section>
      <div class="field">
        <label>Effectuez votre demande:</label>
        <textarea class="w-100" rows="6">
        </textarea>
      </div>
      <div class="field d-flex">
        <button class="btn btn-secondary ml-auto" type="submit">Soumettre la demande</button>
      </div>
    </section>
  </div>

</div>
