<my-org-banner-component></my-org-banner-component>
<my-org-menu-component></my-org-menu-component>
<div class="row v-padding-20 justify-content-center">
  <h1 class="display-3"> Présentation</h1>
</div>
<div id="obs_content" class="faded_background pt-3 rounded row" >
  <div class="col-8 mx-auto">
    <h4>Liste des membres:</h4>
    <table class="table bg-white">
      <thead>
        <tr>
          <th>Compte</th>
          <th>Email</th>
          <th>Droits</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto@mdo.com</td>
          <td data-toggle="tooltip" data-placement="top" title="Tous les droits relatif à l'organisme." data-animation="false">
            Admin
          </td>
          <td>
            <button class="btn btn-sm btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button class="btn btn-sm btn-secondary"><i class="fa fa-times" aria-hidden="true"></i></button>
          </td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton@fat.com</td>
          <td data-toggle="tooltip" data-placement="top" title="Droits admin sans l'exclusion des membres." data-animation="false">Adjoint</td>
          <td><button class="btn btn-sm btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button class="btn btn-sm btn-secondary"><i class="fa fa-times" aria-hidden="true"></i></button>
          </td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the_Bird@twitter.com</td>
          <td data-toggle="tooltip" data-placement="top" title="Droits de consultation et d'extraction des données." data-animation="false">Membre</td>
          <td><button class="btn btn-sm btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button class="btn btn-sm btn-secondary"><i class="fa fa-times" aria-hidden="true"></i></button>
          </td>
        </tr>
        <tr>
          <td>Bart</td>
          <td>bart@twitter.com</td>
          <td data-toggle="tooltip" data-placement="top" title="Droits de consultation et d'extraction des données." data-animation="false">Membre</td>
          <td><button class="btn btn-sm btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button class="btn btn-sm btn-secondary"><i class="fa fa-times" aria-hidden="true"></i></button>
          </td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>the_Bird@twitter.com</td>
          <td data-toggle="tooltip" data-placement="top" title="Droits de consultation et d'extraction des données." data-animation="false">Membre</td>
          <td><button class="btn btn-sm btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button class="btn btn-sm btn-secondary"><i class="fa fa-times" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
