@import "colors.style";
/* $color_obs_0: #303C74;
 */
.btn{
  border-radius: 0px;
}

.btn:focus{
/*.usermenu_user .btn-success:focus{
*/  box-shadow: none;
}

.btnmenu{
  background-color: transparent;
  border-color:transparent;
  color: black;
}

.btnmenu-Fil{
  border-bottom-color: $color_default_0;
}

.btnmenu-Fil:hover, .btnmenu-Fil:focus {
  color: $color_default_0;
  border-color: $color_default_0;
}

.btnmenu-Fil.active{
  color:white;
  border-color: $color_default_0;
  background-color: $color_default_0;
}

.btnmenu-Participation{
  border-bottom-color: $color_default_0;
}

.btnmenu-Participation:hover, .btnmenu-Participation:focus {
  color: $color_default_0;
  border-color: $color_default_0;
}

.btnmenu-Participation.active{
  color:white;
  border-color: $color_default_0;
  background-color: $color_default_0;
}


.btnmenu-Obs{
  border-bottom-color: $color_obs_0;
  color: black;
}

.btnmenu-Obs:hover, .btnmenu-Obs:focus {
  color:$color_obs_0;
  border-color: $color_obs_0;
}

.btnmenu-Obs.active{
  color:white;
  border-color: $color_obs_0;
  background-color: $color_obs_0;
}


.btnmenu-Esp{
  border-bottom-color: $color_espece_0;
  color: black;
}

.btnmenu-Esp:hover, .btnmenu-Esp:focus {
  color:$color_espece_0;
  border-color: $color_espece_0;
}

.btnmenu-Esp.active{
  color:white;
  border-color: $color_espece_0;
  background-color: $color_espece_0;
}

.btnmenu-Ident{
  border-bottom-color: $color_ident_0;
}

.btnmenu-Ident:hover, .btnmenu-Ident:focus {
  color: $color_ident_0;
  border-color: $color_ident_0;
}

.btnmenu-Ident.active{
  color:white;
  border-color: $color_ident_0;
  background-color: $color_ident_0;
}

.btnmenu-Org{
  border-bottom-color: $color_org_0;
}

.btnmenu-Org:hover, .btnmenu-Org:focus {
  color: $color_org_0;
  border-color: $color_org_0;
}

.btnmenu-Org.active{
  color:white;
  border-color: $color_org_0;
  background-color: $color_org_0;
}

.btnmenu-OrgFil{
  border-bottom-color: $color_org_0;
}

.btnmenu-OrgFil:hover, .btnmenu-OrgFil:focus {
  color: $color_org_0;
  border-color: $color_org_0;
}

.btnmenu-OrgFil.active{
  color:white;
  border-color: $color_org_0;
  background-color: $color_org_0;
}

.btnmenu-OrgPresentation{
  border-bottom-color: $color_org_0;
}

.btnmenu-OrgPresentation:hover, .btnmenu-OrgPresentation:focus {
  color: $color_org_0;
  border-color: $color_org_0;
}

.btnmenu-OrgPresentation.active{
  color:white;
  border-color: $color_org_0;
  background-color: $color_org_0;
}

.btnmenu-OrgMembre{
  border-bottom-color: $color_org_0;
}

.btnmenu-OrgMembre:hover, .btnmenu-OrgMembre:focus {
  color: $color_org_0;
  border-color: $color_org_0;
}

.btnmenu-OrgMembre.active{
  color:white;
  border-color: $color_org_0;
  background-color: $color_org_0;
}


.btnmenu-OrgParcObs{
  border-bottom-color: $color_obs_0;
}

.btnmenu-OrgParcObs:hover, .btnmenu-OrgParcObs:focus {
  color: $color_obs_0;
  border-color: $color_obs_0;
}

.btnmenu-OrgParcObs.active{
  color:white;
  border-color: $color_obs_0;
  background-color: $color_obs_0;
}

.btnmenu-OrgPostuler{
  border-bottom-color: $color_obs_0;
}

.btnmenu-OrgPostuler:hover, .btnmenu-OrgPostuler:focus {
  color: $color_org_0;
  border-color: $color_org_0;
}

.btnmenu-OrgPostuler.active{
  color:white;
  border-color: $color_org_0;
  background-color: $color_org_0;
}

.btnmenu-OrgDonnees{
  border-bottom-color: $color_org_0;
}

.btnmenu-OrgDonnees:hover, .btnmenu-OrgDonnees:focus {
  color: $color_org_0;
  border-color: $color_org_0;
}

.btnmenu-OrgDonnees.active{
  color:white;
  border-color: $color_org_0;
  background-color: $color_org_0;
}

.btnmenu-OrgAdminDonnees{
  border-bottom-color: $color_org_0;
}

.btnmenu-OrgAdminDonnees:hover, .btnmenu-OrgAdminDonnees:focus {
  color: $color_org_0;
  border-color: $color_org_0;
}

.btnmenu-OrgAdminDonnees.active{
  color:white;
  border-color: $color_org_0;
  background-color: $color_org_0;
}
