@import "colors.style";
/* $UserObsColor: #303C74;
 */
.btn{
  border-radius: 0px;
}

.btn:focus{
/*.usermenu_user .btn-success:focus{
*/  box-shadow: none;
}

.btnmenu{
  background-color: transparent;
  border-color:transparent;
  color: black;
}

.btnmenu-Fil{
  border-bottom-color: $userFilColor;
}

.btnmenu-Fil:hover, .btnmenu-Fil:focus {
  color: $userFilColor;
  border-color: $userFilColor;
}

.btnmenu-Fil.active{
  color:white;
  border-color: $userFilColor;
  background-color: $userFilColor;
}

.btnmenu-Participation{
  border-bottom-color: $UserParticipationColor;
}

.btnmenu-Participation:hover, .btnmenu-Participation:focus {
  color: $UserParticipationColor;
  border-color: $UserParticipationColor;
}

.btnmenu-Participation.active{
  color:white;
  border-color: $UserParticipationColor;
  background-color: $UserParticipationColor;
}


.btnmenu-Obs{
  border-bottom-color: $UserObsColor;
  color: black;
}

.btnmenu-Obs:hover, .btnmenu-Obs:focus {
  color:$UserObsColor;
  border-color: $UserObsColor;
}

.btnmenu-Obs.active{
  color:white;
  border-color: $UserObsColor;
  background-color: $UserObsColor;
}


.btnmenu-Esp{
  border-bottom-color: $GuideEspece;
  color: black;
}

.btnmenu-Esp:hover, .btnmenu-Esp:focus {
  color:$GuideEspece;
  border-color: $GuideEspece;
}

.btnmenu-Esp.active{
  color:white;
  border-color: $GuideEspece;
  background-color: $GuideEspece;
}

.btnmenu-Ident{
  border-bottom-color: $UserIdentifColor;
}

.btnmenu-Ident:hover, .btnmenu-Ident:focus {
  color: $UserIdentifColor;
  border-color: $UserIdentifColor;
}

.btnmenu-Ident.active{
  color:white;
  border-color: $UserIdentifColor;
  background-color: $UserIdentifColor;
}

.btnmenu-Org{
  border-bottom-color: $OrgColor;
}

.btnmenu-Org:hover, .btnmenu-Org:focus {
  color: $OrgColor;
  border-color: $OrgColor;
}

.btnmenu-Org.active{
  color:white;
  border-color: $OrgColor;
  background-color: $OrgColor;
}

.btnmenu-OrgFil{
  border-bottom-color: $OrgFilColor;
}

.btnmenu-OrgFil:hover, .btnmenu-OrgFil:focus {
  color: $OrgFilColor;
  border-color: $OrgFilColor;
}

.btnmenu-OrgFil.active{
  color:white;
  border-color: $OrgFilColor;
  background-color: $OrgFilColor;
}

.btnmenu-OrgPresentation{
  border-bottom-color: $OrgPresentationColor;
}

.btnmenu-OrgPresentation:hover, .btnmenu-OrgPresentation:focus {
  color: $OrgPresentationColor;
  border-color: $OrgPresentationColor;
}

.btnmenu-OrgPresentation.active{
  color:white;
  border-color: $OrgPresentationColor;
  background-color: $OrgPresentationColor;
}

.btnmenu-OrgMembre{
  border-bottom-color: $OrgMembreColor;
}

.btnmenu-OrgMembre:hover, .btnmenu-OrgMembre:focus {
  color: $OrgMembreColor;
  border-color: $OrgMembreColor;
}

.btnmenu-OrgMembre.active{
  color:white;
  border-color: $OrgMembreColor;
  background-color: $OrgMembreColor;
}


.btnmenu-OrgParcObs{
  border-bottom-color: $OrgParcObsColor;
}

.btnmenu-OrgParcObs:hover, .btnmenu-OrgParcObs:focus {
  color: $OrgParcObsColor;
  border-color: $OrgParcObsColor;
}

.btnmenu-OrgParcObs.active{
  color:white;
  border-color: $OrgParcObsColor;
  background-color: $OrgParcObsColor;
}

.btnmenu-OrgPostuler{
  border-bottom-color: $OrgPostulerColor;
}

.btnmenu-OrgPostuler:hover, .btnmenu-OrgPostuler:focus {
  color: $OrgPostulerColor;
  border-color: $OrgPostulerColor;
}

.btnmenu-OrgPostuler.active{
  color:white;
  border-color: $OrgPostulerColor;
  background-color: $OrgPostulerColor;
}

.btnmenu-OrgDonnees{
  border-bottom-color: $OrgDonneesColor;
}

.btnmenu-OrgDonnees:hover, .btnmenu-OrgDonnees:focus {
  color: $OrgDonneesColor;
  border-color: $OrgDonneesColor;
}

.btnmenu-OrgDonnees.active{
  color:white;
  border-color: $OrgDonneesColor;
  background-color: $OrgDonneesColor;
}

.btnmenu-OrgAdminDonnees{
  border-bottom-color: $OrgAdminDonneesColor;
}

.btnmenu-OrgAdminDonnees:hover, .btnmenu-OrgAdminDonnees:focus {
  color: $OrgAdminDonneesColor;
  border-color: $OrgAdminDonneesColor;
}

.btnmenu-OrgAdminDonnees.active{
  color:white;
  border-color: $OrgAdminDonneesColor;
  background-color: $OrgAdminDonneesColor;
}
