/* Déclaration des couleurs*/

$userFilColor: darkslategray;
$UserParticipationColor: darkcyan;/* lavender; cadetblue;*/
$UserObsColor: skyblue; /*#87ceeb*/
$GuideEspece: saddlebrown; /*#8b4513*/
$UserIdentifColor:seagreen; /*#2e8b57*/
$UserIdentifColorPastel:seagreen;
$ResultatsColor: #AA4B39;


$OrgColor: indianred;
$OrgFilColor: #D47A6A;
$OrgPresentationColor: #AA4B39;
$OrgMembreColor: #AA4B39;
$OrgParcObsColor: #303C74; /* ou #AA8939 */
$OrgPostulerColor: #a09b82;
$OrgDonneesColor: #AA4B39;
$OrgAdminDonneesColor: #AA4B39;


/* @blue: #17B6FF;
@magenta: #FF17B6;
@lime: #B6FF17;
@green: #1BFF17; */

/* TEST */
/* $blue: #17B6FF;
.bg-test { background-color:$blue; } */
