/* Déclaration des couleurs*/

$userFilColor: #333;
$UserParticipationColor: #a09b82;
$UserObsColor: #515E91;
$GuideEspece: #806015;
$UserIdentifColor: #4E9C68;
$ResultatsColor: #AA4B39;


$OrgColor: #D47A6A;
$OrgFilColor: #D47A6A;
$OrgPresentationColor: #AA4B39;
$OrgMembreColor: #AA4B39;
$OrgParcObsColor: #303C74; /* ou #AA8939 */
$OrgPostulerColor: #a09b82;
$OrgDonneesColor: #AA4B39;
$OrgAdminDonneesColor: #AA4B39;


/* @blue: #17B6FF;
@magenta: #FF17B6;
@lime: #B6FF17;
@green: #1BFF17; */

/* TEST */
/* $blue: #17B6FF;
.bg-test { background-color:$blue; } */
