<my-org-banner-component></my-org-banner-component>
<my-org-menu-component></my-org-menu-component>

<div class="row v-padding-20 justify-content-center">
  <h1 class="display-3"> Gestion des membres</h1>
</div>
<div id="obs_content" class="faded_background pt-3 rounded row" >
  <div class="row my-1 w-50 mx-auto">
    <section>
      <div class="field">
        <label>Nouvelles demandes</label>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>

        <textarea class="w-100" rows="6">
  Cher responsable de O.F.N.,

        </textarea>
      </div>
      <div class="field d-flex">
        <button class="btn btn-secondary ml-auto" type="submit">Soumettre la demande</button>
      </div>
    </section>
  </div>

</div>
