<my-org-banner-component></my-org-banner-component>
<my-org-menu-component></my-org-menu-component>

<div class="row v-padding-20 justify-content-center">
  <h1 class="display-3"> Gestion des membres</h1>
</div>
<div id="obs_content" class="faded_background pt-3 rounded row" >
  <div class="col-6 my-1 w-50 mx-auto">

        <label>Nouvelles demandes</label>
        <table class="table">
          <thead>
            <tr>
              <!-- <th>#</th> -->
              <th>Compte</th>
              <th>Email</th>
              <th>Demande</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <th scope="row">1</th> -->
              <td>Noer</td>
              <td>new@twitter.com</td>
              <td>Bonjour Mark, j'aimerai que tu m'intègres dans l'organisme, si possible avec la gestion des news. Merci</td>
              <td>Accepter/Refuser</td>
            </tr>

          </tbody>
        </table>
        <label>Liste des membres</label>
        <table class="table">
          <thead>
            <tr>
              <!-- <th>#</th> -->
              <th>Compte</th>
              <th>Email</th>
              <th>Droits</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <th scope="row">1</th> -->
              <td>Mark</td>
              <td>Otto@mdo.com</td>
              <td>Admin</td>
              <td>Exclure</td>
            </tr>
            <tr>
              <!-- <th scope="row">2</th> -->
              <td>Jacob</td>
              <td>Thornton@fat.com</td>
              <td>Adjoint</td>
              <td>Exclure</td>
            </tr>
            <tr>
              <!-- <th scope="row">3</th> -->
              <td>Larry</td>
              <td>the_Bird@twitter.com</td>
              <td>Membre</td>
              <td>Exclure</td>
            </tr>
            <tr>
              <!-- <th scope="row">3</th> -->
              <td>Noer</td>
              <td>new@twitter.com</td>
              <td>Nouveau Membre</td>
              <td>Accepter</td>
            </tr>
          </tbody>
        </table>

  </div>

</div>
