
  <div class="">
    <h1 class="ui header">Panneau organisme</h1>
  </div>
  <div class="">
    <div class="">
      <div class="ui secondary pointing menu">
        <a [routerLink]="['./home']" routerLinkActive="active" class="item">Accueil Organisme</a>
        <a [routerLink]="['./data_choice']" routerLinkActive="active" class="item">Choisir vos données</a>
        <a [routerLink]="['./subscribe']" routerLinkActive="active" class="item">Inscription</a>
        <div class="right menu">
          <a [routerLink]="['/home']" routerLinkActive="active" class="ui item">Retour à l'accueil principal</a>
        </div>
      </div>
    </div>
    <div class="">
    </div>
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>



