<my-org-banner-component></my-org-banner-component>
<my-org-menu-component></my-org-menu-component>

<div class="row v-padding-20 justify-content-center">
  <h1 class="display-3">Informations</h1>
</div>
<div id="obs_content" class="faded_background pt-3 rounded row" >
  <div id="leftpanelfixed" class="leftpanelfixed col-3 pr-0">
    <div class="row my-1">
      <span class="col-4 p-0 text-nowrap w-50 align-self-center">Avant le :</span>
      <div class="col-8 p-0 input-group">
        <input class="form-control" placeholder="Aujourd'hui"
        name="dp" ><!-- [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" -->
        <i class="input-group-addon fa fa-calendar" aria-hidden="true" ></i><!-- (click)="d.toggle()" -->
      </div>
    </div>
    <!-- <div class="row">
      <label class="col-4 p-0 text-nowrap align-self-center">Affichage :</label>
      <div class="col-8 p-0 btn-group" data-toggle="buttons">

        <label class="w-50 btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Liste
        </label>
        <label class="w-50 btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Carte
        </label>
      </div>
    </div> -->

    <div>
      <h6 class="ml-4 p-1">Données collectées :</h6>
    </div>
    <div id="overflowfix" style="height: 10px;">
      <ul id="obs-list-info" class="list-group">
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                135 observés +7 en attente
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                101 observés +4 en attente
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                99 observés +12 en attente
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/maquette/dauphinImg.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                80 observés +4 en attente
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                77 observés
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/maquette/dauphinImg.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                21 observés +1 en attente
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                2 observés
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-9 ml-auto d-flex flex-column">

    <div class="fil-news content_item d-flex flex-column mb-3">
      <div class="row d-flex justify-content-between">
        <h5><span>S'exprimer: </span>Publication de AFAKE</h5>  <span>Le 08/11/2016</span>
      </div>
      <div class="row">
        <div class="w-100 row mx-auto">

          <div id="list-info" class="row">
            <div class="list-group-item border-0 p-0">
              <img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid rounded-top" alt="">
            </div>
            <div class="list-group-item border-0">
              <div class="d-flex w-100">
                <div class=" align-self-center">Nous tenons à vous remercier pour votre contribution à la collecte des données, cela nous a permis d'observer que le nombre de natalité des Tursiops aduncus a augmenté cette année, mais qu'ils sont moins présent dans le lagon...</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="fil-news content_item d-flex flex-column mb-3">
      <div class="row d-flex justify-content-between">
        <h5><span>Info: </span>Publication de Tsiono</h5>  <span>Le 08/11/2016</span>
      </div>
      <div class="row">
        <div class="w-100 row mx-auto">

          <div id="list-info" class="row">
            <div class="list-group-item border-0 p-0">
              <img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid rounded-top" alt="">
            </div>
            <div class="list-group-item border-0">
              <div class="d-flex w-100">
                <div class=" align-self-center">Nous tenons à vous remercier pour votre contribution à la collecte des données, cela nous a permis d'observer que le nombre de natalité des Tursiops aduncus a augmenté cette année, mais qu'ils sont moins présent dans le lagon...</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="fil-news content_item d-flex flex-column mb-3">
      <div class="row d-flex justify-content-between">
        <h5><span>Info: </span>Remerciement</h5>  <span>Le 08/11/2016</span>
      </div>
      <div class="row">
        <div class="col-8 mx-auto">

          <ul id="list-info" class="list-group">
            <li class="list-group-item border-0">
              <div class="d-flex w-100">
                <div class=" align-self-center">Vos observations ont été utilisé par 19 organisme en 2017, nous vous remercions pour votre contribution.</div>
                <a class="m-2 btn btn-secondary align-self-center">Parrainez un ami! +1000pt</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="fil-news content_item d-flex flex-column mb-3">
      <div class="row d-flex justify-content-between">
        <h5><span>Info: </span>Nouveau Trophé!</h5>  <span>Le 01/11/2016</span>
      </div>
      <div class="row">
        <div class="col-5 mx-auto">
          <div class="card ">
            <h4 class="card-title text-center">Oiseaux</h4>
            <div class="card-img-top">
              <div class="image-container">
                <div class="relative-container">
                  <img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/teal_medal_icon.png" alt="Bronze Medal Icon" />
                  <img class= "icon-img" src="../../../public/assets/images/medals/icons/bird_icon.png" alt="Bird icon" />
                </div>
                <div class="d-flex justify-content-between mx-1">
                  <span class="w-25">244 pts!</span>
                  <span>Explorateur</span>
                  <span class="w-25">/ 500 pts</span>
                </div>
                <div class="progress mx-1">
                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="card-block p-2 flex-column">

              <div class="d-flex justify-content-between">
                <div class=""><span class="text-info">Observation</span></div>
                <div class=""><span class="badge badge-info">22</span></div>
              </div>
              <div class="d-flex justify-content-between">
                <div class=""><span class="text-warning">Identification</span></div>
                <div class=""><span class="badge badge-warning">40</span></div>
              </div>
              <div class="d-flex justify-content-between">
                <div class=""><span class="text-darkgreen">Espèces </span></div>
                <div class=""><span class="badge badge-darkgreen">
                  <span class="text-info">6</span>-
                  <span class="text-warning">10</span> /
                  <span class="text-darkgreen"> 19</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
