<my-org-banner-component></my-org-banner-component>
<my-org-menu-component></my-org-menu-component>

<div class="row v-padding-20 justify-content-center">
  <h1 class="display-3">Informations</h1>
</div>
<div id="obs_content" class="faded_background pt-3 rounded row" >
  <div id="leftpanelfixed" class="leftpanelfixed col-3 pr-0">
    <div class="row my-1">
      <span class="col-4 p-0 text-nowrap w-50 align-self-center">Avant le :</span>
      <div class="col-8 p-0 input-group">
        <input class="form-control" placeholder="Aujourd'hui"
        name="dp" ><!-- [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" -->
        <i class="input-group-addon fa fa-calendar" aria-hidden="true" ></i><!-- (click)="d.toggle()" -->
      </div>
    </div>
    <!-- <div class="row">
      <label class="col-4 p-0 text-nowrap align-self-center">Affichage :</label>
      <div class="col-8 p-0 btn-group" data-toggle="buttons">

        <label class="w-50 btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Liste
        </label>
        <label class="w-50 btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Carte
        </label>
      </div>
    </div> -->

    <div>
      <h6 class="ml-4 p-1">Données collectées :</h6>
    </div>
    <div id="overflowfix" style="height: 10px;">
      <ul id="obs-list-info" class="list-group">
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                135 observés +7 en attente
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                101 observés +4 en attente
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                99 observés +12 en attente
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/maquette/dauphinImg.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                80 observés +4 en attente
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                77 observés
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/maquette/dauphinImg.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                21 observés +1 en attente
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="d-flex flex-row w-100">
            <div class="col-4 p-1 align-self-center">
              <img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" alt="Card image cap">
            </div>
            <div class="col-8 px-1 d-flex flex-row">
              <div class="align-self-center mx-auto">
                2 observés
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-9 ml-auto d-flex flex-column">

    <div class="fil-news content_item d-flex flex-column mb-3">
      <div class="d-flex justify-content-start">
        <div class="">
          <img class= "logo_vignette d-block back-img" src="../../../public/assets/images/structures/business_logo_4.png" alt="Business 3 Icon" />
        </div>
        <div class="w-100 ml-1 mr-2 p-1 d-flex flex-column">
          <textarea class="w-100" rows="6" placeholder="Publication du contenu pour A.F.A.K.E"></textarea>
          <button type="button" class="btn btn-secondary btn-sm d-flex ml-auto mt-1">Publier</button>
        </div>
      </div>
    </div>

    <div class="fil-news content_item d-flex flex-column mb-3">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row flex-nowrap">
          <div class="">
            <img class= "logo_vignette d-block back-img" src="../../../public/assets/images/structures/business_logo_4.png" alt="Business 3 Icon" />
          </div>
          <h5>A.F.A.K.E: Grace à vous les études avancent!</h5>
        </div>
        <span>Le 08/11/2016</span>
      </div>
      <div class="row">
        <div class="w-100 row mx-auto">
          <div id="list-info" class="row">
            <div class="list-group-item border-0 p-0 mx-auto">
              <img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid rounded-top" alt="">
            </div>
            <div class="list-group-item border-0">
              <div class="d-flex w-100">
                <div class=" align-self-center">Nous tenons à vous remercier pour votre contribution à la collecte des données, cela nous a permis d'observer que le nombre de natalité des Tursiops aduncus a augmenté cette année, mais qu'ils sont moins présent dans le lagon...</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fil-news content_item d-flex flex-column mb-3">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-row flex-nowrap">
          <div class="">
            <img class= "logo_vignette d-block back-img" src="../../../public/assets/images/structures/business_logo_4.png" alt="Business 3 Icon" />
          </div>
          <h5>A.F.A.K.E: 4 Orques de passage à Mayotte!</h5>
        </div>
        <span>Le 02/10/2016</span>
      </div>
      <div class="row">
        <div class="w-100 row mx-auto">
          <div id="list-info" class="row">
            <div class="list-group-item border-0">
              <div class="d-flex w-100">
                <div class=" align-self-center">Même si les rencontrer reste exceptionnel, les Orques sont observables au nord-est de Mayotte, ils ont l'habitude de passer chaque année à cette période de l'année, rarement plus d'une semaine! Envoyez nous vos clichés!</div>
                <div class=" align-self-center">Attention tout de même à ne pas s'en approcher à moins de 100 mètres, pour éviter de les déranger et de les faire fuir. Merci</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
