@import "../../../css/colors.style";

.info {
	background-color: $color_obs_1;
	color: $color_obs_0;
	border-radius: 5px;
	border-color: $color_obs_0;
	border: 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;

}
