<div class="row my-3">
	<div class="info offset-2 col-8">
		Sélectionne la localisation de ton observation directement sur la carte ou entre les coordonnées GPS
		dans le panel de droite. Précise la zone tampon où tu es sur d'avoir observé l'individu.
	</div>
</div>
<div class="row">
	<div class="col-6 offset-1 bg-white py-3">
		<div id="map" class="map"></div>
	</div>
	<div class="col-4 bg-white py-3">
		<div class="row">
			<div class="col-12 my-2">
				<div class="btn-group btn-group-sm" role="group" aria-label="...">
					<button type="button" class="btn btn-secondary">WGS</button>
  					<button type="button" class="btn btn-secondary">Degrés décimaux</button>
  				</div>
			</div>
			<div class="row ml-1">
				<div class="input-group my-2">
					<span class="input-group-addon" id="basic-addon1">Lat &nbsp;&nbsp;</span>
					<input type="text" class="form-control" placeholder="XX" aria-describedby="basic-addon1">
					<span class="input-group-addon" id="basic-addon1">°</span>
					<input type="text" class="form-control" placeholder="XX" aria-describedby="basic-addon1">
					<span class="input-group-addon" id="basic-addon1">'</span>
					<input type="text" class="form-control" placeholder="XX" aria-describedby="basic-addon1">
					<span class="input-group-addon" id="basic-addon1">"</span>
					<div class="input-group-btn" aria-labelledby="btnGroupDrop1">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						N
						</button>
						<ul class="dropdown-menu">
							<li class="dropdown-item">N</li>
							<li class="dropdown-item" href="#">S</li>
						</ul>
					</div>
				</div>
				<div class="input-group my-2">
					<span class="input-group-addon" id="basic-addon1">Long</span>
					<input type="text" class="form-control" placeholder="XX" aria-describedby="basic-addon1">
					<span class="input-group-addon" id="basic-addon1">°</span>
					<input type="text" class="form-control" placeholder="XX" aria-describedby="basic-addon1">
					<span class="input-group-addon" id="basic-addon1">'</span>
					<input type="text" class="form-control" placeholder="XX" aria-describedby="basic-addon1">
					<span class="input-group-addon" id="basic-addon1">"</span>
					<div class="input-group-btn" aria-labelledby="btnGroupDrop1">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						O
						</button>
						<ul class="dropdown-menu">
							<li class="dropdown-item">O</li>
							<li class="dropdown-item" href="#">E</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row mt-2 mx-auto">
				<div class="input-group">
					<!-- <span class="input-group-addon" id="basic-addon1">
						<i class="fa fa-arrows-h" aria-hidden="true"></i>
					</span> -->
					<span class="lead">Distance de certitude :&nbsp;</span>
					<input type="number" class="form-control" placeholder="0" aria-describedby="basic-addon1">
					<span class="input-group-addon" id="basic-addon1">mètres</span>
				</div>

					
			</div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-2 offset-9">
		<a routerLink="./../select_attrs" class="btn btn-outline-primary btn-block">
			Passez à l'étape suivante
		</a>
	</div>
</div>