<my-org-banner-component></my-org-banner-component>
<my-org-menu-component></my-org-menu-component>
<div class="row v-padding-20 justify-content-center">
	<h1 class="display-3">Parc d'observation</h1>
</div>
<div id="obs_content" class="faded_background pt-3 rounded row" >
	<div class="col-6 mx-auto">
	<h4 class="my-2">Especes recherchée:</h4>
	<table class="table p-3 bg-white">
		<thead>
		<tr>
			<th>Image</th>
			<th>Nom scientifique</th>
			<th>Nom commun</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="align-middle">
			<img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="vignette rounded-circle" alt="">
			</td>
			<td class="align-middle">Stenella longirostris</td>
			<td class="align-middle">Stennelle à long bec</td>
		</tr>
		<tr>
			<td class="align-middle">
			<img src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" class="vignette rounded-circle" alt="">
			</td>
			<td class="align-middle">Stenella attenuata</td>
			<td class="align-middle">Stennelle tacheté</td>
		</tr>
		<tr>
			<td class="align-middle">
			<img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="vignette rounded-circle" alt="">
			</td>
			<td class="align-middle">Tursiops aduncus</td>
			<td class="align-middle">Grand dauphin de l'Indo-Pacifique</td>
		</tr>

		</tbody>
	</table>
	</div>
	<div class="col-6 mx-auto">
	<h4 class="my-2">Zone de recherche:</h4>
	<div class="mb-3">
		<div id="searched_data_map" class="map"></div>
	</div>
	</div>
</div>
