<div class="ui padded one column grid">
	<div class="column no-padding">
		<div class="row">
			<div class="ui green huge menu">
				<a routerLink="./home" routerLinkActive="active" class="item">
					<i class="home icon"></i> BeObs
				</a>
				<span class="ui disabled item"><i class="user icon"></i>Bienvenue Manguo</span>

				<a routerLink="./message_user" routerLinkActive="active" class="centered item">
					<i class="mail icon"></i> Message
				</a>
				<a routerLink="./organisme" routerLinkActive="active" class="center item">Organisme</a>
				<a routerLink="./admin" routerLinkActive="active" class="right item">Admin</a>
			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>

