<div class="row v-padding-20 justify-content-center m-0">
	<h1 class="display-3">Identification d'observations</h1>
</div>

<div class="row m-0">

	<!-- Images -->

	<div class="col-4">
		<div class="row">
			<div class="col-8 d-flex align-items-center">
				<img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid" alt="">
			</div>

			<div class="col-4">
				<img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid py-1" alt="">
				<img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid py-1" alt="">
				<img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid py-1" alt="">
			</div>
		</div>
	</div>

	<!-- Localisation -->

	<div class="col-4">
		<div class="map" id="obs_identification_map"></div>
	</div>

	<!-- Données attributaires -->

	<div class="col-4">
		<table class="table">
			<thead>
				<tr>
					<th>Donnée attributaire</th>
					<th>Valeur</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Date</td>
					<td>12/03/2017</td>
				</tr>
				<tr>
					<td>Taille</td>
					<td>2 mètres</td>
				</tr>
				<tr>
					<td>Couleur</td>
					<td>Gris</td>
				</tr>
				<tr>
					<td>Météo</td>
					<td>ciel bleu</td>
				</tr>
				<tr>
					<td>Heure</td>
					<td>15:15</td>
				</tr>
				<tr>
					<td>Nombre d'individus</td>
					<td>1</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row m-0">
	<div class="col-10 offset-1">
		<div class="row">
			<div class="col-md-6 bg-white mx-0 py-2 px-2">
				<nav class="breadcrumb">
					<a class="breadcrumb-item" href="#">Animalia</a>
					<a class="breadcrumb-item" href="#">Chordata</a>
					<a class="breadcrumb-item" href="#">Mammalia</a>
					<a class="breadcrumb-item" href="#">Cetacea</a>
						<span class="breadcrumb-item active">Delphinidae</span>
				</nav>
				<div class="row">
					<div class="input-group col-12 mb-1">
						<input type="text" placeholder="Rechercher" class="form-control" />
						<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
					</div>
				</div>
				<div class="list-group mt-2">
					<button type="button" class="list-group-item list-group-item-action">
						<div class="col-md-3">
							<img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid rounded" alt="">
						</div>
						<div class="col-md-9">
							<h5 class="list-group-item-heading">Grand dauphin de l'Indo Pacifique </h5>
							<h5 class="list-group-item-heading"><i>Tursiops aduncus</i></h5>
							<b>Taille</b> : 1 à 2 mètres     <b>Apnée </b>: 50 minutes       <b>Milieu de vie </b>: eaux océaniques benthiques
						</div>
					</button>
					<button type="button" class="list-group-item list-group-item-action">
						<div class="col-md-3">
							<img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid rounded" alt="">
						</div>
						<div class="col-md-9">
							<h5 class="list-group-item-heading">Stenelle à long bec</h5>
							<h5 class="list-group-item-heading"><i>Stenella longirostris</i></h5>
							<b>Taille</b> : 1 à 2 mètres     <b>Apnée </b>: 50 minutes       <b>Milieu de vie </b>: eaux océaniques pélagiques
						</div>
					</button>
					<button type="button" class="list-group-item list-group-item-action">
						<div class="col-md-3">
							<img src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" class="img-fluid rounded" alt="">
						</div>
						<div class="col-md-9">
							<h5 class="list-group-item-heading">Stenelle tacheté</h5>
							<h5 class="list-group-item-heading"><i>Stenella attenuata</i></h5>
							<b>Taille</b> : 1 à 2 mètres     <b>Apnée </b>: 50 minutes       <b>Milieu de vie </b>: eaux océaniques pélagiques
													</div>
					</button>
				</div>
			</div>
			<div class="col-md-6 bg-white mx-0 py-2 px-2">
				<div class="row mx-0 d-flex justify-content-center" >
					<span class="lead">Nouvelle espèce ?</span>
				</div>
				<div class="row mt-1 mx-0">
					<input type="text" class="form-control" placeholder="Nom commun" />
				</div>
				<div class="row mt-1 mx-0">
					<input type="text" class="form-control" placeholder="Nom scientifique" />
				</div>
				<div class="row justify-content-end mt-2 mx-0">
					<button class="btn btn-outline-primary">Proposer</button>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-end mx-0">
			<button class="btn btn-lg btn-outline-primary">
				Cette observation est un gran dauphin de l'Indo Pacifique, <i>Tursiops aduncus</i>
			</button>
		</div>
	</div>
</div>
