<my-org-banner-component></my-org-banner-component>
<my-org-menu-component></my-org-menu-component>
<div class="row v-padding-20 justify-content-center">
  <h1 class="display-3"> Présentation</h1>
</div>
<div id="obs_content" class="faded_background pt-3 rounded row" >
  <div class="row my-1 mx-5">
    <div class="col-4 relative-container height-60">
      <img class= "mx-auto d-block back-img w-100" src="../../../public/assets/images/structures/business_logo_4.png" alt="Business 3 Icon" />
      <div class="mx-auto">
        <label>Site Web: </label>
        <a href="http://www.tsiono.fr/">http://www.afake.fr/</a>
        <i class="fa fa-facebook-official fa-lg" aria-hidden="true" style="color:#0275d8"></i>
        <i class="fa fa-twitter-square fa-lg" aria-hidden="true" style="color:#0275d8"></i>
      </div>
    </div>
    <div class="col-8 d-flex flex-column">
      <h3>A.F.A.K.E</h3>
      <p>Le programme AFAKE, qui signifie « a fake » en anglais, invite l’ensemble des usagers de la mer à partager leurs observations de la biodiversité marine de la lune. </p>

      <h5>A.F.A.K.E, c’est votre réseau !</h5>
      <p>A.F.A.K.E est un projet de sciences participatives en environnement qui vise à mobiliser le grand public pour collecter des données sur le milieu dans un cadre scientifique. Outre l’importance de disposer de données régulières permettant une gestion appropriée des milieux naturels, ce type de démarche permet également de fédérer les usagers autour d’un projet commun et de sensibiliser le grand public à la fragilité de la biodiversité, par une approche ludique et éducative.<br>
      Dédié au milieu marin, A.F.A.K.E vous invite à connaître et faire connaître le milieu marin mahorais pour mieux le protéger.
      </p>

      <h5>A.F.A.K.E, c’est un fake !</h5>
      <p>Porté et animé par le faux naturel marin de la lune, ce réseau d’observateurs bénévoles évolue et s’enrichit grâce à la contribution de tous ceux qui sillonnent quotidiennement la mer et partagent leurs observations : professionnels, plaisanciers, pêcheurs, plongeurs, curieux, passionnés de la nature, etc.</p>
      <p>Chaque contributeur constitue un relais d’information précieux et peut bénéficier d’un retour sur les informations naturalistes collectées.</p>
    </div>
  </div>
</div>
