<my-user-home-component></my-user-home-component>
<div class="row v-padding-20 text-center">
  <h1 class="display-5">Mes observations</h1>
</div>

<button>CARTOGRAPHIE</button>
<div>
  <h3>En attente</h3>

  <div class="row">
    <div class="col-sm-2">
      <div class="card card-outline-info">
        <h4 class="card-title">Sortie en mer</h4>
        <img class="card-img-top text-xs-center" src="../../../public/assets/images/maquette/requin.jpg" alt="Card image cap">
        <div class="card-block">
          <p class="card-text">Le 26/12/2016</p>
          <button type="button" class="btn btn-primary">Identifier!</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top center-block" src="../../../public/assets/images/maquette/requin.jpg" alt="Card image cap">
        <div class="card-block">
          <p class="card-text">baignade à Sakouly, Le 20/12/2016</p>
          <button type="button" class="btn btn-primary">Identifier!</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img class="card-img-top center-block" src="../../../public/assets/images/maquette/dauphinImg.jpg" alt="Card image cap">
        <div class="card-block">
          <p class="card-text">baignade à Sakouly, Le 20/12/2016</p>
          <button type="button" class="btn btn-primary">Identifier!</button>
        </div>
      </div>
    </div>
  </div>

<div>
  <h3>Mes trophés</h3>
</div>
