/* #carousel-example-generic .carousel-item.active {
           width: 33.3%;
           display: block;
           float:left;
        }
#carousel-example-generic .carousel-item
        {
           width: 33.3%;
           display: block;
           float:left;
        }
#carouselMulti .carousel-inner .active.left { left: -33%; }
#carouselMulti .carousel-inner .next        { left:  33%; }
#carouselMulti .carousel-inner .prev        { left: -33%; }
#carouselMulti .carousel-control.left,.carousel-control.right {background-image:none;}
#carouselMulti .item:not(.prev) {visibility: visible;}
#carouselMulti .item.right:not(.prev) {visibility: hidden;}
#carouselMulti .rightest{ visibility: visible;} */

#carouselMyObs{
  position: relative;
}

#carouselMyObs::after {
    display: block;
    content: "";
    clear: both;
}

#carouselMyObs{
  width: 100%;
}

#carouselMyObs .card{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#carouselMyObs .card img{
  max-width: 100%;
  max-height: 300px;
}

#carouselMyObs .img_container {
    height: 300px;
    display: flex;
    align-items: center;

}

#carouselMyObs .carousel-control-prev-icon{
  background-color: #000
}
#carouselMyObs .carousel-control-next-icon{
  background-color: #000
}



#theMultiCarousel .carousel-inner .active.left { left: -33%; }
#theMultiCarousel .carousel-inner .next        { left:  33%; }
#theMultiCarousel .carousel-inner .prev        { left: -33%; }
#theMultiCarousel .carousel-control.left,.carousel-control.right {background-image:none;}
#theMultiCarousel .item:not(.prev) {visibility: visible;}
#theMultiCarousel .item.right:not(.prev) {visibility: hidden;}
#theMultiCarousel .rightest{ visibility: visible;}




#carouselMyObs3 .card{
  width: 80%;
}

.mycards .card img{
  max-width: 100%;
  max-height: 300px;
}

.mycards .card {

}

.mycards .img_container {
    height: 300px;
    display: flex;
    align-items: center;

}

/*
.cardexemple .card {
border: none;
border-radius: 0;
background-color: #f5f5f5;
margin:0;
}
.cardexemple .card-title {margin: 0;}
.cardexemple .card img {
position: relative;
display:block;
transition: all .2s ease-in-out;
}
.cardexemple .block:hover img {
transition: all .2s ease-in-out;
transform: scale(.95); CSS3
-moz-transform: scale(.95); Firefox
-webkit-transform: scale(.95); Webkit
-o-transform: scale(.95); Opera
-ms-transform: scale(.95); IE 9
}
.cardexemple .card-footer {
padding: 0 1.25rem 1.25rem;
background-color: #f5f5f5;
border: none;
}
.cardexemple .card-footer {background-color: #f5f5f5;}
.cardexemple .btn-primary-outline {border-width:2px;}

 */
/* #obs-list-esp li:first-child{
  padding: 0px;
} */

/*.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out all;
    backface-visibility: visible;
    transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}
 body {
  background: #333;
  color: #ddd;
}
h1 {
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px #000000;
}*/


#bilan{

}/* border-right: 1px solid #000; */

/* #carouselMyObs{
  position: relative;
}

#carouselMyObs::after {
    display: block;
    content: "";
    clear: both;
}

#carouselMyObs{
  width: 100%;
}

#carouselMyObs .card{
  width: 48%;
  height: 100%;
}

#carouselMyObs .card img{
  max-width: 100%;
  max-height: 250px;
}

#carouselMyObs .img_container {
    height: 250px;
    display: flex;
    align-items: center;

}

#carouselMyObs .carousel-control-prev{
  background-color: #e6e6e6;
}
#carouselMyObs .carousel-control-next{
  background-color: #e6e6e6;
}

#carouselMyObs .card:hover{
  background-color: #F7F7F7;
} */



/* .list-group-item:checked{
    background-color: #e6e6e6;
}
.list-group-item.active{
    background-color: #F7F7F7;
} */
/* #btn_bilan2.active{
    background-color: #e6e6e6;
} */

/* #display2 .active{
  background-color: #F7F7F7;
} */
