<div class="row v-padding-20 justify-content-center">
	<h1 class="display-3">Ma participation</h1>
</div>


<div id="obs_nav" class="row">
	<div id="bilan" class="col-3 border-right-1">
		<h3>Bilan</h3>
		<div class="card selected">
			<h4 class="card-title text-center">Bilan</h4>
			<div class="card-img-top">
				<div class="image-container">
					<div class="relative-container">
						<img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/teal_medal_icon.png" alt="Bronze Medal Icon" />
						<img class= "icon-img" src="../../../public/assets/images/profil/profile_picture.png" alt="Bird icon" />
						<!-- <h4 class="text-img-center">Beobs</h4> -->
					</div>
					<div class="d-flex justify-content-between mx-1">
						<span class="w-25">542 pts!</span>
						<span>Explorateur</span>
						<span class="w-25">/ 1000 pts</span>
					</div>
					<div class="progress mx-1">
						<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
			<div class="card-block p-2 flex-column">
				<div class="d-flex justify-content-between">
					<div class=""><span class="text-info">Observation</span></div>
					<div class=""><span class="badge badge-info">155</span></div>
				</div>
				<div class="d-flex justify-content-between">
					<div class=""><span class="text-warning">Identification</span></div>
					<div class=""><span class="badge badge-warning">204</span></div>
				</div>
				<div class="d-flex justify-content-between">
					<div class=""><span class="text-darkgreen">Espèces </span></div>
					<div class=""><span class="badge badge-darkgreen"><span class="text-info">24</span>-<span class="text-warning">39</span> / 108</span></div>
				</div>
			</div>
		</div>
	</div>

	<div id="mes_trophes" class="col-md-9">

		<h3>Trophés</h3>
		<div class="row">
			<div id="carouselMultiTrophe" class="carousel slide w-100" data-interval="30000">
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<div class="col-sm-4">
							<div class="card ">
								<h4 class="card-title text-center">Oiseaux</h4>
								<div class="card-img-top">
									<div class="image-container">
										<div class="relative-container">
											<img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/teal_medal_icon.png" alt="Bronze Medal Icon" />
											<img class= "icon-img" src="../../../public/assets/images/medals/icons/bird_icon.png" alt="Bird icon" />
										</div>
										<div class="d-flex justify-content-between mx-1">
											<span class="w-25">244 pts!</span>
											<span>Explorateur</span>
											<span class="w-25">/ 500 pts</span>
										</div>
										<div class="progress mx-1">
											<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="card-block p-2 flex-column">

									<div class="d-flex justify-content-between">
										<div class=""><span class="text-info">Observation</span></div>
										<div class=""><span class="badge badge-info">22</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-warning">Identification</span></div>
										<div class=""><span class="badge badge-warning">40</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-darkgreen">Espèces </span></div>
										<div class=""><span class="badge badge-darkgreen">
											<span class="text-info">6</span>-
											<span class="text-warning">10</span> /
											<span class="text-darkgreen"> 19</span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card ">
								<h4 class="card-title text-center">Serpents</h4>
								<div class="card-img-top">
									<div class="image-container">
										<div class="relative-container">
											<img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/gold_medal_icon.png" alt="Bronze Medal Icon" />
											<img class= "icon-img" src="../../../public/assets/images/medals/icons/snake_icon.png" alt="Bird icon" />
										</div>
										<div class="d-flex justify-content-between mx-1">
											<span class="w-25">120 pts!</span>
											<span>Aventurier</span>
											<span class="w-25">/ 250 pts</span>
										</div>
										<div class="progress mx-1">
											<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="card-block p-2 flex-column">
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-info">Observation</span></div>
										<div class=""><span class="badge badge-info">12</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-warning">Identification</span></div>
										<div class=""><span class="badge badge-warning">20</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-darkgreen">Espèces </span></div>
										<div class=""><span class="badge badge-darkgreen"><span class="text-info">4</span>-<span class="text-warning">7</span> / 8</span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card ">
								<h4 class="card-title text-center">Requins</h4>
								<div class="card-img-top">
									<div class="image-container">
										<div class="relative-container">
											<img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/bronze_medal_icon.png" alt="Bronze Medal Icon" />
											<img class= "icon-img" src="../../../public/assets/images/medals/icons/shark_icon.png" alt="Bird icon" />
										</div>
										<div class="d-flex justify-content-between mx-1">
											<span class="w-25">78 pts!</span>
											<span>Curieux</span>
											<span class="w-25">/ 100 pts</span>
										</div>
										<div class="progress mx-1">
											<div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="card-block p-2 flex-column">
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-info">Observation</span></div>
										<div class=""><span class="badge badge-info">5</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-warning">Identification</span></div>
										<div class=""><span class="badge badge-warning">10</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-darkgreen">Espèces </span></div>
										<div class=""><span class="badge badge-darkgreen"><span class="text-info">2</span>-<span class="text-warning">3</span> / 10</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="col-sm-4">
							<div class="card ">
								<h4 class="card-title text-center">Dauphins</h4>
								<div class="card-img-top">
									<div class="image-container">
										<div class="relative-container">
											<img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/bronze_medal_icon.png" alt="Bronze Medal Icon" />
											<img class= "icon-img" src="../../../public/assets/images/medals/icons/shark_icon.png" alt="Bird icon" />
										</div>
										<div class="d-flex justify-content-between mx-1">
											<span class="w-25">120 pts!</span>
											<span>Aventurier</span>
											<span class="w-25">/ 250 pts</span>
										</div>
										<div class="progress mx-1">
											<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="card-block p-2 flex-column">
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-info">Observation</span></div>
										<div class=""><span class="badge badge-info">12</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-warning">Identification</span></div>
										<div class=""><span class="badge badge-warning">20</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-darkgreen">Espèces </span></div>
										<div class=""><span class="badge badge-darkgreen"><span class="text-info">4</span>-<span class="text-warning">7</span> / 8</span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card ">
								<h4 class="card-title text-center">Serpents</h4>
								<div class="card-img-top">
									<div class="image-container">
										<div class="relative-container">
											<img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/gold_medal_icon.png" alt="Bronze Medal Icon" />
											<img class= "icon-img" src="../../../public/assets/images/medals/icons/snake_icon.png" alt="Bird icon" />
											<span style="position: absolute;    bottom: 10px;    right: 0;">120 / 250 pts</span>
										</div>

										<div class="d-flex justify-content-between mx-1">
											<span >Aventurier</span>
										</div>
										<div class="progress mx-1">
											<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="card-block p-2 flex-column">
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-info">Observation</span></div>
										<div class=""><span class="badge badge-info">12</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-warning">Identification</span></div>
										<div class=""><span class="badge badge-warning">20</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-darkgreen">Espèces </span></div>
										<div class=""><span class="badge badge-darkgreen"><span class="text-info">4</span>-<span class="text-warning">7</span> / 8</span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card ">
								<h4 class="card-title text-center">Serpents</h4>
								<div class="card-img-top">
									<div class="image-container">
										<div class="d-flex justify-content-between mx-1">
											<span class="w-25 align-self-center flex-wrap">120 pts!</span>
											<div class="relative-container">
												<img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/gold_medal_icon.png" alt="Bronze Medal Icon" />
												<img class= "icon-img" src="../../../public/assets/images/medals/icons/snake_icon.png" alt="Bird icon" />
											</div>
											<span class="w-25 align-self-center flex-wrap">/ 250 pts</span>
										</div>
										<div class="d-flex justify-content-center">
											<span>Aventurier</span>
										</div>
										<div class="progress mx-1">
											<div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
								<div class="card-block p-2 flex-column">
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-info">Observation</span></div>
										<div class=""><span class="badge badge-info">12</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-warning">Identification</span></div>
										<div class=""><span class="badge badge-warning">20</span></div>
									</div>
									<div class="d-flex justify-content-between">
										<div class=""><span class="text-darkgreen">Espèces </span></div>
										<div class=""><span class="badge badge-darkgreen"><span class="text-info">4</span>-<span class="text-warning">7</span> / 8</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselMultiTrophe" role="button" data-slide="prev">
						<!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
						<i class="fa fa-caret-left" style="color: gray; font-size: 100px;" aria-hidden="true"></i>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselMultiTrophe" role="button" data-slide="next">
						<!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
						<i class="fa fa-chevron-right" style="color: gray; font-size: 60px;" aria-hidden="true"></i>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="obs_content" class="mt-4 pt-3 rounded row" >
	<div id="leftpanelfixed" class="leftpanelfixed col-3 pr-0">
		<div class="row my-1">
			<span class="col-4 p-0 text-nowrap w-50 align-self-center">Avant le :</span>
			<div class="col-8 p-0 input-group">
				<input class="form-control" placeholder="Aujourd'hui"
				name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
				<i class="input-group-addon fa fa-calendar" aria-hidden="true" (click)="d.toggle()"></i>
			</div>
		</div>
		<div class="row">
			<label class="col-4 p-0 text-nowrap align-self-center">Affichage :</label>
			<div class="col-8 p-0 btn-group" data-toggle="buttons">

				<label class="w-50 btn btn-secondary active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked> Liste
				</label>
				<label class="w-50 btn btn-secondary">
					<input type="radio" name="options" id="option2" autocomplete="off"> Carte
				</label>
			</div>
		</div>

		<div>
			<h6 class="ml-4 p-1">Liste des espèces:</h6>
		</div>
		<div id="overflowfix" style="height: 10px;">
			<ul id="obs-list-esp" class="list-group">
				<li class="list-group-item p-0">
					<div class="d-flex flex-row w-100">
						<div class="col-3 p-1 align-self-center">
							<img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" alt="Card image cap">
						</div>
						<div class="col-9 px-1 d-flex flex-row">
							<div class="align-self-center">
								<div>Grand dauphin de l'Indo Pacifique</div>
								<div><i>Tursiops aduncus</i></div>
							</div>

							<div class="d-flex flex-column align-self-center ml-auto">
								<span class="badge badge-info">9</span>
								<span class="badge badge-warning">9</span>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item p-0">
					<div class="d-flex flex-row w-100">
						<div class="col-3 p-1 align-self-center">
							<img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
						</div>
						<div class="col-9 px-1 d-flex flex-row">
							<div class="align-self-center">
								<div>Stenelle à long bec</div>
								<div><i>Stenella longisrostris</i></div>
							</div>

							<div class="d-flex flex-column align-self-center ml-auto">
								<span class="badge badge-info rounded-top">6</span>
								<span class="badge badge-warning rounded-bottom">12</span>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item p-0">
					<div class="d-flex flex-row w-100">
						<div class="col-3 p-1 align-self-center">
							<img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" alt="Card image cap">
						</div>
						<div class="col-9 px-1 d-flex flex-row">
							<div class="align-self-center">
								<div>Stenelle tacheté</div>
								<div><i>Stenella attenuata</i></div>
							</div>
							<div class="d-flex flex-column align-self-center ml-auto">
								<span class="badge badge-info rounded-top">4</span>
								<span class="badge badge-warning rounded-bottom">8</span>
							</div>
						</div>
					</div>
				</li>

				<li class="list-group-item p-0">
					<div class="d-flex flex-row w-100">
						<div class="col-3 p-1 align-self-center">
							<img class="img-fluid rounded w-100" src="../../../public/assets/images/maquette/dauphinImg.jpg" alt="Card image cap">
						</div>
						<div class="col-9 px-1 d-flex flex-row">
							<div class="align-self-center">
								<div>Grand dauphin de l'Indo Pacifique</div>
								<div><i>Tursiops aduncus</i></div>
							</div>

							<div class="d-flex flex-column align-self-center ml-auto">
								<span class="badge badge-default rounded-top">0</span>
								<span class="badge badge-warning rounded-bottom">9</span>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item p-0">
					<div class="d-flex flex-row w-100">
						<div class="col-3 p-1 align-self-center">
							<img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" alt="Card image cap">
						</div>
						<div class="col-9 px-1 d-flex flex-row">
							<div class="align-self-center">
								<div>Grand dauphin de l'Indo Pacifique</div>
								<div><i>Tursiops aduncus</i></div>
							</div>

							<div class="d-flex flex-column align-self-center ml-auto">
								<span class="badge badge-default">0</span>
								<span class="badge badge-warning">2</span>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item p-0">
					<div class="d-flex flex-row w-100">
						<div class="col-3 p-1 align-self-center">
							<img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
						</div>
						<div class="col-9 px-1 d-flex flex-row">
							<div class="align-self-center">
								<div>Stenelle à long bec</div>
								<div><i>Stenella longisrostris</i></div>
							</div>

							<div class="d-flex flex-column align-self-center ml-auto">
								<span class="badge badge-default rounded-top">0</span>
								<span class="badge badge-default rounded-bottom">0</span>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item p-0">
					<div class="d-flex flex-row w-100">
						<div class="col-3 p-1 align-self-center">
							<img class="img-fluid rounded w-100" src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" alt="Card image cap">
						</div>
						<div class="col-9 px-1 d-flex flex-row">
							<div class="align-self-center">
								<div>Stenelle tacheté</div>
								<div><i>Stenella attenuata</i></div>
							</div>
							<div class="d-flex flex-column align-self-center ml-auto">
								<span class="badge badge-default rounded-top">0</span>
								<span class="badge badge-default rounded-bottom">0</span>
							</div>
						</div>
					</div>
				</li>

				<li class="list-group-item p-0">
					<div class="d-flex flex-row w-100">
						<div class="col-3 p-1 align-self-center">
							<img class="img-fluid rounded w-100" src="../../../public/assets/images/maquette/dauphinImg.jpg" alt="Card image cap">
						</div>
						<div class="col-9 px-1 d-flex flex-row">
							<div class="align-self-center">
								<div>Grand dauphin de l'Indo Pacifique</div>
								<div><i>Tursiops aduncus</i></div>
							</div>

							<div class="d-flex flex-column align-self-center ml-auto">
								<span class="badge badge-default rounded-top">0</span>
								<span class="badge badge-default rounded-bottom">0</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-9 ml-auto d-flex flex-column">
		<div class="content_item fil-obs d-flex flex-column mb-3 pt-0">
			<div class="d-flex flex-row justify-content-between mb-1">
				<div class="row p-0">
					<div class="align-self-center p-1">
						<img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profile_picture.png" alt="Card image cap">
					</div>
					<div class="align-self-center p-0">
						<h6 class="m-0">Manguo</h6>
					</div>
				</div>
				<span class="lead small align-self-center">ajouté le 26/12/2016</span>
			</div>
			<div class="d-flex flex-row">
				<div class="d-flex flex-column size-medium-column">
					<img id="S1_img1" (click)="showClick('S1_1')" on-mouseover="showOver('S1_1')" on-mouseout="backOver()" src="../../../public/assets/images/maquette/dauphinImg.jpg" class="img-fluid size-medium mb-1 icon-success" alt="">
					<img id="S1_img2" (click)="showClick('S1_2')" on-mouseover="showOver('S1_2')" on-mouseout="backOver()" src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" class="img-fluid size-medium mb-1 icon-waiting" alt="">
					<img id="S1_img3" (click)="showClick('S1_3')" on-mouseover="showOver('S1_3')" on-mouseout="backOver()" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid size-medium mb-1 icon-wrong" alt="">
				</div>
				<div id="S1" class="col flex-column pr-5">
					<div class="d-flex flex-row"><h5 class="text-primary">Sortie bateau</h5><div class="mx-auto align-self-center badge badge-success">+28 pts!</div></div>
					<div class="d-flex justify-content-between"><span>Le: 22/12/2016</span><span>Durée: 6h</span><span>Superficie: 120km²</span></div>
					<div class="d-flex w-100"><span>Sortie vers l'ilot sada, superbe pêche avec Mathieu, et quelques belles observations, j'espère que vous allez aimer les photos!</span></div>
				</div>
				<div id="S1_obs1" class="col-3 p-0">
					<div class="">
						<ul id="obs-list" class="list-group h-100">
							<li class="list-group-item p-0 img_container_limitH">
								<img src="../../../public/assets/images/maquette/dauphinImg.jpg" class="img-fluid w-100 rounded-top" alt="">
							</li>
							<li class="list-group-item list-group-item-success">
								<div class="d-flex flex-row w-100">
									<div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
									<div>1. Stenella Attenuata</div>
									<div class="ml-auto align-self-center badge badge-success">+12 pts!</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="S1_obs2" class="col-3 p-0">
					<div class="">
						<ul id="obs-list" class="list-group h-100">
							<li class="list-group-item p-0 img_container_limitH">
								<img src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" class="img-fluid rounded-top" alt="">
							</li>
							<li class="list-group-item">
								<div class="d-flex flex-row w-100">
									<div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
									<div>1. Dauphin Longbec</div>
									<div class="ml-auto align-self-center badge badge-warning">25</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="d-flex flex-row w-100">
									<div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
									<div>2. Stenella Attenuata</div>
									<div class="ml-auto align-self-center badge badge-warning">1</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="d-flex flex-row w-100">
									<div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
									<div>3. Stenella Longirostris</div>
									<div class="ml-auto align-self-center badge badge-warning">0</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="S1_obs3" class="col-3 p-0">
					<div class="">
						<ul id="obs-list" class="list-group">
							<li class="list-group-item p-0 img_container_limitH">
								<img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid rounded-top" alt="">
							</li>
							<li class="list-group-item list-group-item-success">
								<div class="d-flex flex-row w-100">
									<div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-users" aria-hidden="true"></i></div>
									<div class="ml-2">Dauphin Longbec</div>
									<div class="ml-auto align-self-center badge badge-danger">+0 pt</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="d-flex flex-row w-100">
									<div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
									<div>1. Stenella Attenuata</div>
									<div class="ml-auto align-self-center badge badge-warning">2</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="d-flex flex-row w-100">
									<div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
									<div>2. Stenella Longirostris</div>
									<div class="ml-auto align-self-center badge badge-warning">1</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="S1_obs1Details" class="ml-5 w-50">
					<span class="lead">Commentaires:</span>
					<table class="table flex-nowrap">
						<tbody>
							<tr>
								<td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profil2.jpg" alt="Card image cap">Jacob</td>
								<td>
									Belle photo!
								</td>
							</tr>
							<tr>
								<td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profile_picture.png" alt="Card image cap">Manguo</td>
								<td class="w-75"><input type="textarea" class="w-100" placeholder="Exprimez-vous">
									<div><button type="button" class="btn btn-secondary btn-sm d-flex ml-auto">Valider</button></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="S1_obs3Details" class="ml-5 w-50">
					<span class="lead">Commentaires:</span>
					<table class="table flex-nowrap">
						<tbody>
							<tr>
								<td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profil3.jpg" alt="Card image cap">Max</td>
								<td>
									Superbe ta photo!
								</td>
							</tr>
							<tr>
								<td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profil2.jpg" alt="Card image cap">Jacob</td>
								<td>Manguo tu t'es trompé d'espèce parce que tu n'as pas fait attention à la forme du museau.</td>
							</tr>
							<tr>
								<td><img class="img-fluid rounded size-icon" src="" alt="Card image cap">Larry</td>
								<td>Ce qui est caractéristique à cette espèce c'est la tache sur l'aileron! </td>
							</tr>
							<tr>
								<td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profile_picture.png" alt="Card image cap">Manguo</td>
								<td class="w-75"><input type="textarea" class="w-100" placeholder="Exprimez-vous">
									<div><button type="button" class="btn btn-secondary btn-sm d-flex ml-auto">Valider</button></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="S1_obs2Details" class="ml-5 w-50">
					<span class="lead">Commentaires:</span>
					<table class="table flex-nowrap">
						<tbody>
							<tr>
								<td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profile_picture.png" alt="Card image cap">Manguo</td>
								<td class="w-75"><input type="textarea" class="w-100" placeholder="Exprimez-vous">
									<div><button type="button" class="btn btn-secondary btn-sm d-flex ml-auto">Valider</button></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="content_item fil-ident d-flex flex-column mb-3 pt-0">
      <div class="d-flex flex-row justify-content-between mb-1">
        <div class="row p-0">
          <div class="align-self-center p-1">
            <img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profile_picture.png" alt="Card image cap">
          </div>
          <div class="align-self-center p-0">
            <h6 class="m-0">Manguo</h6>
          </div>
        </div>
        <span class="lead small align-self-center">le 26/12/2016</span>
      </div>
      <div class="d-flex flex-row">
        <div class="d-flex flex-column size-medium-column">
          <img id="I1_img1" (click)="showClick('I1_1')" on-mouseover="showOver('I1_1')" on-mouseout="backOver()" src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid size-medium mb-1 icon-success" alt="">
          <img id="I1_img2" (click)="showClick('I1_2')" on-mouseover="showOver('I1_2')" on-mouseout="backOver()" src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" class="img-fluid size-medium mb-1 icon-waiting" alt="">
          <img id="I1_img3" (click)="showClick('I1_3')" on-mouseover="showOver('I1_3')" on-mouseout="backOver()" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid size-medium mb-1 icon-waiting" alt="">
        </div>
        <div id="I1" class="col flex-column pr-5">
          <div class="d-flex flex-row"><h5 class="text-primary">Identifications</h5><div class="mx-auto align-self-center badge badge-success">+28 pts!</div></div>
          <div class="d-flex justify-content-between">1/ Sucess<div class="mx-auto align-self-center badge badge-success">+28 pts!</div></div>
          Nombre d'identifications
          Nombre sucess/en attente/echec
          Progression des trophés
          <div class="d-flex justify-content-between"><span>Le: 22/12/2016</span><span>Durée: 6h</span><span>Superficie: 120km²</span></div>
          <div class="d-flex w-100"><span>Sortie vers l'ilot sada, superbe pêche avec Mathieu, et quelques belles observations, j'espère que vous allez aimer les photos!</span></div>
        </div>
        <div id="I1_obs1" class="col-3 p-0">
          <div class="">
            Réussite:
            <ul id="ident-list" class="list-group">
              <li class="list-group-item p-0">
                <img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid w-100 rounded-top" alt="">
              </li>
              <li class="list-group-item list-group-item-success">
                <div class="d-flex flex-row w-100">
                  <div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                  <div>1. Stenella Attenuata</div>
                  <div class="ml-auto align-self-center badge badge-success">+12 pts!</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="I1_obs2" class="col-3 p-0">
          <div class="">
            En cours:
            <ul id="ident-list" class="list-group">
              <li class="list-group-item p-0">
                <img src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" class="img-fluid rounded-top" alt="">
              </li>
              <li class="list-group-item">
                <div class="d-flex flex-row w-100">
                  <div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                  <div>1. Dauphin Longbec</div>
                  <div class="ml-auto align-self-center badge badge-warning">25</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex flex-row w-100">
                  <div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-users" aria-hidden="true"></i></div>
                  <div class="ml-2">Stenella Attenuata</div>
                  <div class="ml-auto align-self-center badge badge-warning">1</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="I1_obs3" class="col-3 p-0">
          <div class="">
            En cours:
            <ul id="ident-list" class="list-group">
              <li class="list-group-item p-0">
                <img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid rounded-top" alt="">
              </li>
              <li class="list-group-item">
                <div class="d-flex flex-row w-100">
                  <div class="p-0 align-self-center col-1 mr-1 text-center">
                    <i class="fa fa-users" aria-hidden="true"></i>
                  </div>
                  <div class="ml-2">Stenella Attenuata</div>
                  <div class="ml-auto align-self-center badge badge-warning">18</div>
                </div>
              </li>
              <li class="list-group-item list-group-item-warning">
                <div class="d-flex flex-row w-100">
                  <div class="p-0 align-self-center col-1 mr-1 text-center">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  </div>
                  <div>1.  Dauphin Longbec</div>
                  <div class="ml-auto align-self-center badge badge-warning">2</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex flex-row w-100">
                  <div class="p-0 align-self-center col-1 mr-1 text-center"><i class="fa fa-users" aria-hidden="true"></i></div>
                  <div class="ml-2">Stenella Longirostris</div>
                  <div class="ml-auto align-self-center badge badge-warning">1</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="I1_obs1Details" class="ml-5 w-50">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-between">
              <div class="d-flex flex-row">
                <span class="lead">Observateur: </span>
                <div class="align-self-center p-1">
                  <img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profile_picture.png" alt="Card image cap">
                </div>
                <div class="align-self-center p-0">
                  <h6 class="m-0">Manguo</h6>
                </div>
              </div>
              <div class="d-flex flex-row">
                <span class="lead">Localisation: </span>
                <div class="align-self-center p-0">
                  <h6 class="m-0">Mayotte</h6>
                </div>
              </div>
              <div class="d-flex flex-row">
                <span class="lead">Le: </span>
                <div class="align-self-center p-0">
                  <h6 class="m-0">18/06/2016</h6>
                </div>
              </div>
            </div>

            <span class="lead">Commentaires:</span>
            <table class="table flex-nowrap">
              <tbody>
                <tr>
                  <td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profil2.jpg" alt="Card image cap">Jacob</td>
                  <td>
                    Belle photo!
                  </td>
                </tr>
                <tr>
                  <td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profile_picture.png" alt="Card image cap">Manguo</td>
                  <td class="w-75"><input type="textarea" class="w-100" placeholder="Exprimez-vous">
                    <div><button type="button" class="btn btn-secondary btn-sm d-flex ml-auto">Valider</button></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="I1_obs3Details" class="ml-5 w-50">
          <span class="lead">Commentaires:</span>
          <table class="table flex-nowrap">
            <tbody>
              <tr>
                <td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profil3.jpg" alt="Card image cap">Max</td>
                <td>
                  Superbe ta photo!
                </td>
              </tr>
              <tr>
                <td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profil2.jpg" alt="Card image cap">Jacob</td>
                <td>Manguo tu t'es trompé d'espèce parce que tu n'as pas fait attention à la forme du museau.</td>
              </tr>
              <tr>
                <td><img class="img-fluid rounded size-icon" src="" alt="Card image cap">Larry</td>
                <td>Ce qui est caractéristique à cette espèce c'est la tache sur l'aileron! </td>
              </tr>
              <tr>
                <td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profile_picture.png" alt="Card image cap">Manguo</td>
                <td class="w-75"><input type="textarea" class="w-100" placeholder="Exprimez-vous">
                  <div><button type="button" class="btn btn-secondary btn-sm d-flex ml-auto">Valider</button></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="I1_obs2Details" class="ml-5 w-50">
          <span class="lead">Commentaires:</span>
          <table class="table flex-nowrap">
            <tbody>
              <tr>
                <td class="text-nowrap"><img class="img-fluid rounded size-icon" src="../../../public/assets/images/profil/profile_picture.png" alt="Card image cap">Manguo</td>
                <td class="w-75"><input type="textarea" class="w-100" placeholder="Exprimez-vous">
                  <div><button type="button" class="btn btn-secondary btn-sm d-flex ml-auto">Valider</button></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

	</div>
</div>
