<my-user-home-component></my-user-home-component>
<div class="row v-padding-20 mx-0">
  <h1 class="display-5">Mes observations</h1> <button class="btn btn-outline-primary ml-auto">CARTOGRAPHIE</button>
</div>
<div class="col-md-12">
  <div class="btn-group ml-auto" data-toggle="buttons">
    <label id="btn_bilan" class="btn btn-secondary active ">
      <input type="radio" checked> Bilan
    </label>
    <label class="btn btn-secondary" id="btn_en_attente" >
      <input type="radio"> En attente
    </label>
    <label class="btn btn-secondary" id="btn_mes_trophes" >
      <input type="radio"> Mes trophés
    </label>
    <label id="btn_display2" class="btn btn-secondary ">
      <input type="radio"> Autre format
    </label>
  </div>
</div>
<div class="col-md-12" id="display2" class="switch">
  <div class="row">
    <div class="col-md-4">
      <div class="btn-group-vertical" data-toggle="buttons">
        <label id="btn_bilan2" class="btn btn-secondary active ">
          <input type="radio" name="verticaltab" checked>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Bilan</h5>
              <small>542 points</small>
            </div>
            <div class="row w-100">
              <div class="col-6"><span class="text-info">Observation</span></div>
              <div class="col-6"><span class="badge badge-info">155</span></div>
            </div>
            <div class="row w-100">
              <div class="col-6"><span class="text-warning">Identification</span></div>
              <div class="col-6"><span class="badge badge-warning">204</span></div>
            </div>
            <div class="row w-100">
              <div class="col-6"><span class="text-default">Espèces </span></div>
              <div class="col-6"><span class="badge badge-default"><span class="text-info">24</span>-<span class="text-warning">39</span> / 108</span></div>
            </div>
            <small class="text-muted ml-auto">merci pour votre aide!</small>
        </label>
        <label id="btn_en_attente2" class="btn btn-secondary ">
          <input type="radio" name="verticaltab" class="btn btn-secondary" checked>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Observations</h5>
              <small class="text-muted">265 points</small>
            </div>
            <div class="row mb-1 w-100">
              <div class="col-6"><span class="text-info">Observation envoyées</span></div>
              <div class="col-6"><span class="badge badge-info">55</span></div>
            </div>
            <div class="row mb-1 w-100">
              <div class="col-6"><span class="text-warning">Observation en attente</span></div>
              <div class="col-6"><span class="badge badge-warning">3</span></div>
            </div>
            <small class="text-muted ml-auto">Donec id elit non mi porta.</small>
        </label>
        <label id="trophe1" class="btn btn-secondary ">
          <input type="radio" name="verticaltab" class="btn btn-secondary" checked>
            <div class="row">
              <div class="col-5">
                <h5 class="mb-1">Oiseaux</h5>
                <div class="image-container">
                  <div class="relative-container">
                    <img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/teal_medal_icon.png" alt="Bronze Medal Icon" />
                    <img class= "icon-img" src="../../../public/assets/images/medals/icons/bird_icon.png" alt="Bird icon" />
                  </div>
                </div>
              </div>
              <div class="col-7">
                <div class="row">
                  <div class="col-12">
                    <div class="text-center"> Explorateur </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>244 pts!</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6"><span class="text-info">Observation</span></div>
                  <div class="col-6"><span class="badge badge-info">22</span></div>
                </div>
                <div class="row">
                  <div class="col-6"><span class="text-warning">Identification</span></div>
                  <div class="col-6"><span class="badge badge-warning">40</span></div>
                </div>
                <div class="row">
                  <div class="col-6"><span class="text-default">Espèces </span></div>
                  <div class="col-6"><span class="badge badge-default"><span class="text-info">6</span>-<span class="text-warning">10</span> / 19</span></div>
                </div>
              </div>
            </div>
        </label>

        <label id="trophe2" class="btn btn-secondary ">
          <input type="radio" name="verticaltab" class="btn btn-secondary" checked>
            <div class="row">
              <div class="col-5">
                <h5 class="mb-1">Serpents</h5>
                <div class="image-container">
                  <div class="relative-container">
                    <img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/gold_medal_icon.png" alt="Bronze Medal Icon" />
                    <img class= "icon-img" src="../../../public/assets/images/medals/icons/snake_icon.png" alt="Bird icon" />
                  </div>
                </div>
              </div>
              <div class="col-7">
                <div class="row">
                  <div class="col-12">
                    <div class="text-center"> Aventurier </div>
                    <div class="progress">
                      <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>120 pts!</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6"><span class="text-info">Observation</span></div>
                  <div class="col-6"><span class="badge badge-info">12</span></div>
                </div>
                <div class="row">
                  <div class="col-6"><span class="text-warning">Identification</span></div>
                  <div class="col-6"><span class="badge badge-warning">20</span></div>
                </div>
                <div class="row">
                  <div class="col-6"><span class="text-default">Espèces </span></div>
                  <div class="col-6"><span class="badge badge-default"><span class="text-info">4</span>-<span class="text-warning">7</span> / 8</span></div>
                </div>
              </div>
            </div>
        </label>

        <label id="trophe3" class="btn btn-secondary ">
          <input type="radio" name="verticaltab" class="btn btn-secondary" checked>
            <div class="row">
              <div class="col-5">
                <h5 class="mb-1">Requins</h5>
                <div class="image-container">
                  <div class="relative-container">
                    <img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/bronze_medal_icon.png" alt="Bronze Medal Icon" />
                    <img class= "icon-img" src="../../../public/assets/images/medals/icons/shark_icon.png" alt="Bird icon" />
                  </div>
                </div>
              </div>
              <div class="col-7">
                <div class="row">
                  <div class="col-12">
                    <div class="text-center"> Curieux </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>78 pts!</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6"><span class="text-info">Observation</span></div>
                  <div class="col-6"><span class="badge badge-info">5</span></div>
                </div>
                <div class="row">
                  <div class="col-6"><span class="text-warning">Identification</span></div>
                  <div class="col-6"><span class="badge badge-warning">10</span></div>
                </div>
                <div class="row">
                  <div class="col-6"><span class="text-default">Espèces </span></div>
                  <div class="col-6"><span class="badge badge-default"><span class="text-info">2</span>-<span class="text-warning">3</span> / 10</span></div>
                </div>
              </div>
            </div>
        </label>
      </div>
    </div>
    <div class="col-md-6 panel">
      <div id="bilan2" class="switch2">
        <h3>Bilan</h3>
        <div class="row">
          <div class="col-12">
            <span>542 pts!</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6"><span class="text-info">Observation</span></div>
          <div class="col-6"><span class="badge badge-info">155</span></div>
        </div>
        <div class="row">
          <div class="col-6"><span class="text-warning">Identification</span></div>
          <div class="col-6"><span class="badge badge-warning">204</span></div>
        </div>
        <div class="row">
          <div class="col-6"><span class="text-default">Espèces </span></div>
          <div class="col-6"><span class="badge badge-default"><span class="text-info">24</span>-<span class="text-warning">39</span> / 108</span></div>
        </div>
      </div>

      <div id="en_attente2" class="switch2">

        <h3>En attente</h3>
        <div class="row">
          <div class="container col-md-10 text-center">
            <div class="row">
              <div id="carouselMyObs" class="carousel slide" >
                <div class="carousel-inner col-md-10 mx-auto" role="listbox">
                  <div class="carousel-item active">
                    <div class="card mx-auto">
                      <h4 class="card-title">Sortie ilot Sakouly</h4>
                      <div class="img_container">
                        <img class="card-img-top text-xs-center center-block" src="../../../public/assets/images/maquette/dauphinImg.jpg" alt="Card image cap">
                      </div>
                      <div class="card-block">
                        <p class="card-text">Le 26/12/2016</p>
                        <button type="button" class="btn btn-primary btn-sm">Identifier!</button>
                      </div>
                    </div>
                    <div class="card card-outline-info mx-auto">
                      <h4 class="card-title">baignade en mer</h4>
                      <div class="img_container">
                        <img class="card-img-top text-xs-center center-block" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
                      </div>
                      <div class="card-block">
                        <p class="card-text">Le 20/12/2016</p>
                        <button type="button" class="btn btn-primary btn-sm">Identifier!</button>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card card-outline-info mx-auto">
                      <h4 class="card-title">Sortie en mer</h4>
                      <div class="img_container">
                        <img class="card-img-top center-block" src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" alt="Card image cap">
                      </div>
                      <div class="card-block">
                        <p class="card-text">Le 26/12/2016</p>
                        <button type="button" class="btn btn-primary btn-sm">Identifier!</button>
                      </div>
                    </div>
                    <div class="card card-outline-info mx-auto">
                      <h4 class="card-title">baignade en mer</h4>
                      <div class="img_container">
                        <img class="card-img-top text-xs-center center-block" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
                      </div>
                      <div class="card-block">
                        <p class="card-text">Le 20/12/2016</p>
                        <button type="button" class="btn btn-primary btn-sm">Identifier!</button>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card card-outline-info mx-auto">
                      <h4 class="card-title">baignade en mer</h4>
                      <div class="img_container">
                        <img class="card-img-top text-xs-center center-block" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
                      </div>
                      <div class="card-block">
                        <p class="card-text">Le 20/12/2016</p>
                        <button type="button" class="btn btn-primary btn-sm">Identifier!</button>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselMyObs" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselMyObs" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="bilan" class="col-md-12 switch">
  <h3>Bilan</h3>
  <div class="row">
    <div class="col-12">
      <span>542 pts!</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6"><span class="text-info">Observation</span></div>
    <div class="col-6"><span class="badge badge-info">155</span></div>
  </div>
  <div class="row">
    <div class="col-6"><span class="text-warning">Identification</span></div>
    <div class="col-6"><span class="badge badge-warning">204</span></div>
  </div>
  <div class="row">
    <div class="col-6"><span class="text-default">Espèces </span></div>
    <div class="col-6"><span class="badge badge-default"><span class="text-info">24</span>-<span class="text-warning">39</span> / 108</span></div>
  </div>
</div>

<div id="en_attente" class="col-md-12 switch">

  <h3>En attente</h3>
  <div class="row">
    <div class="container col-md-10 text-center">
      <div class="row">
        <div id="carouselMyObs" class="carousel slide" >
          <div class="carousel-inner col-md-10 mx-auto" role="listbox">
            <div class="carousel-item active">
              <div class="card mx-auto">
                <h4 class="card-title">Sortie ilot Sakouly</h4>
                <div class="img_container">
                  <img class="card-img-top text-xs-center center-block" src="../../../public/assets/images/maquette/dauphinImg.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                  <p class="card-text">Le 26/12/2016</p>
                  <button type="button" class="btn btn-primary btn-sm">Identifier!</button>
                </div>
              </div>
              <div class="card card-outline-info mx-auto">
                <h4 class="card-title">baignade en mer</h4>
                <div class="img_container">
                  <img class="card-img-top text-xs-center center-block" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                  <p class="card-text">Le 20/12/2016</p>
                  <button type="button" class="btn btn-primary btn-sm">Identifier!</button>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card card-outline-info mx-auto">
                <h4 class="card-title">Sortie en mer</h4>
                <div class="img_container">
                  <img class="card-img-top center-block" src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                  <p class="card-text">Le 26/12/2016</p>
                  <button type="button" class="btn btn-primary btn-sm">Identifier!</button>
                </div>
              </div>
              <div class="card card-outline-info mx-auto">
                <h4 class="card-title">baignade en mer</h4>
                <div class="img_container">
                  <img class="card-img-top text-xs-center center-block" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                  <p class="card-text">Le 20/12/2016</p>
                  <button type="button" class="btn btn-primary btn-sm">Identifier!</button>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card card-outline-info mx-auto">
                <h4 class="card-title">baignade en mer</h4>
                <div class="img_container">
                  <img class="card-img-top text-xs-center center-block" src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" alt="Card image cap">
                </div>
                <div class="card-block">
                  <p class="card-text">Le 20/12/2016</p>
                  <button type="button" class="btn btn-primary btn-sm">Identifier!</button>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselMyObs" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselMyObs" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="mes_trophes" class="col-md-12 switch">

  <h3>Mes trophés</h3>
  <div class="row">
    <div class="col-sm-3">
      <div class="card ">
        <h4 class="card-title text-center">Oiseaux</h4>
        <div class="card-img-top">
          <div class="image-container">
            <div class="relative-container">
              <img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/teal_medal_icon.png" alt="Bronze Medal Icon" />
              <img class= "icon-img" src="../../../public/assets/images/medals/icons/bird_icon.png" alt="Bird icon" />
            </div>
            <div class="text-center"> Explorateur </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-12">
              <span>244 pts!</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-info">Observation</span></div>
            <div class="col-6"><span class="badge badge-info">22</span></div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-warning">Identification</span></div>
            <div class="col-6"><span class="badge badge-warning">40</span></div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-default">Espèces </span></div>
            <div class="col-6"><span class="badge badge-default"><span class="text-info">6</span>-<span class="text-warning">10</span> / 19</span></div>
          </div>
          <button type="button" class="btn btn-primary btn-sm pull-right">Détails</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card ">
        <h4 class="card-title text-center">Serpents</h4>
        <div class="card-img-top">
          <div class="image-container">
            <div class="relative-container">
              <img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/gold_medal_icon.png" alt="Bronze Medal Icon" />
              <img class= "icon-img" src="../../../public/assets/images/medals/icons/snake_icon.png" alt="Bird icon" />
            </div>
            <div class="text-center"> Aventurier </div>
            <div class="progress">
              <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-12"><span>120 pts!</span></div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-info">Observation</span></div>
            <div class="col-6"><span class="badge badge-info">12</span></div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-warning">Identification</span></div>
            <div class="col-6"><span class="badge badge-warning">20</span></div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-default">Espèces </span></div>
            <div class="col-6"><span class="badge badge-default"><span class="text-info">4</span>-<span class="text-warning">7</span> / 8</span></div>
          </div>
          <button type="button" class="btn btn-primary btn-sm pull-right">Détails</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card ">
        <h4 class="card-title text-center">Requins</h4>
        <div class="card-img-top">
          <div class="image-container">
            <div class="relative-container">
              <img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/bronze_medal_icon.png" alt="Bronze Medal Icon" />
              <img class= "icon-img" src="../../../public/assets/images/medals/icons/shark_icon.png" alt="Bird icon" />
            </div>
            <div class="col-12">
              <div class="text-center"> Curieux </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-12">
              <span>78 pts!</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-info">Observation</span></div>
            <div class="col-6"><span class="badge badge-info">5</span></div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-warning">Identification</span></div>
            <div class="col-6"><span class="badge badge-warning">10</span></div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-default">Espèces </span></div>
            <div class="col-6"><span class="badge badge-default"><span class="text-info">2</span>-<span class="text-warning">3</span> / 10</span></div>
          </div>
          <button type="button" class="btn btn-primary btn-sm pull-right">Détails</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card ">
        <h4 class="card-title text-center">Dauphins</h4>
        <div class="card-img-top">
          <div class="image-container">
            <div class="relative-container">
              <img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/bronze_medal_icon.png" alt="Bronze Medal Icon" />
              <img class= "icon-img" src="../../../public/assets/images/medals/icons/shark_icon.png" alt="Bird icon" />
            </div>
            <div class="text-center"> Curieux </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-12">
              <span>78 pts!</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-info">Observation</span></div>
            <div class="col-6"><span class="badge badge-info">5</span></div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-warning">Identification</span></div>
            <div class="col-6"><span class="badge badge-warning">10</span></div>
          </div>
          <div class="row">
            <div class="col-6"><span class="text-default">Espèces </span></div>
            <div class="col-6"><span class="badge badge-default"><span class="text-info">2</span>-<span class="text-warning">3</span> / 10</span></div>
          </div>
          <button type="button" class="btn btn-primary btn-sm pull-right">Détails</button>
        </div>
      </div>
    </div>
  </div>
</div>
<span id="test">test</span>

