@import "../../css/colors.style";


.new_obs_process:hover {
	background-color: $color_obs_1;
	color: white;
}

.new_obs_process {
	border-color: $color_obs_0;
	color: $color_obs_0;
}

.new_obs_process.active {
	background-color: $color_obs_0;
	color: white;
}

.arrow_next {
	color: $color_obs_0;
	font-size: 60px;
}
