<!-- <my-org-banner-component></my-org-banner-component> -->
<div class="bg-faded">
  <h3>Formulaire d'inscription d'organisme</h3>
  <div class="row mx-0 p-2 mx-0">
    <div class="col-3 d-flex flex-column">
      <div class="field">
        <label>Nom:</label>
        <div class="fields">
          <div class="field">
            <input class="w-100" [(ngModel)]="newOrg.accr" type="text" placeholder="Acronyme">
          </div>
          <div class="field w-100">
            <input class="w-100" [(ngModel)]="newOrg.name" type="text" placeholder="Nom Complet" required>
          </div>
        </div>
        <div class="field">
          <label>Description :</label>
          <textarea class="w-100" rows="8">
            (Présentation:)
            (Liste des objectifs:)
            (Nombre d'actif:)
            (Localisation:)
            (Date de création:)
          </textarea>
        </div>
      </div>
    </div>

    <div class="col-md-3 mx-auto">
      <div class="image-container">
        <div class="relative-container height-60">
          <img class= "mx-auto d-block back-img w-100" src="../../../public/assets/images/structures/business_logo_4.png" alt="Business 3 Icon" />
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="field"><input class="w-100" type="text" placeholder="Site web"></div>
    </div>
  </div>

  <button (click)="createOrganism(org)" class="ui button">
    <i class="write icon">Create</i>
  </button>

</div>
<!--<my-org-menu-component></my-org-menu-component>

<div class="ui attached segment">
  <p *ngIf="!issubmitted">!issubmitted</p>
  <h3>Formulaire d'inscription d'organisme</h3>

  <div class="ui form">
    <h4 class="ui dividing header">Information de l'Organisme</h4>
    <div class="field">
      <label>Nom</label>
      <div class="inline fields">
        <div class="four wide field">
          <input [(ngModel)]="newOrg.accr" type="text" placeholder="Accornyme" required>
        </div>
        <div class="twelve wide field">
          <input [(ngModel)]="newOrg.name" type="text" placeholder="Nom Complet" required>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Description</label>
      <textarea [(ngModel)]="newOrg.desc" rows="10"
        placeholder="Présentation, objectifs, motivation, nombre d'actifs, date de création, budget annuel...">
(Présentation:)

(Objectifs:)

(Motivation:)

(Nombre d'actifs:)
(Date de création:)

      </textarea>
    </div>
      <div class="two wide column">
        <div class="ui medium buttons">
            <button (click)="createOrganism(org)" class="ui button">
              <i class="write icon">Create</i>
            </button>
        </div>
  </div>

</div> -->
