@import "./css/colors.style";

.bg-banner{
  background-color: lightsteelblue;
}

.bg-white{
  background-color: white;
}

.marginMenu{
  padding-top: 50px;
}

.topMargeNav{
  position: fixed;
  z-index: 10000;
}

.topMargeNav .btn{
  color:black;
}

.navbar-brand{
  color:black;
}

.topMargeNav .btn-outline-danger{
  border-color: brown;
  color: brown;
}

.topMargeNav .btn-outline-danger:hover{
  color:white;
  border-color:white;
  background-color: brown;
}

.topMargeNav .btn:hover{
  color:$color_default_4;
  border:1px solid $color_default_4;
  /* background-color: darkblue; */
}
