
<div class="row">
	<div class="col-4 offset-1">
		<div class="row mx-0">
			<div class="col-12 px-1 bg-white">
				<div class="row m-1 lead">
					Dans quels milieux pouvons nous retrouver votre espèce ?
				</div>	
				<div class="row">
					<div class="col-10 offset-2 mt-1">
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input">
								Terrestre
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input">
								Aérien
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input">
								Aquatique
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input">
								Aérien
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input">
								Je ne sais pas 
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input">
								Non pertinent
							</label>
						</div>
					</div>	

				</div>
			</div>
		</div>
		<div class="row mt-2 mx-0">
			<div class="col-12 bg-white px-1 py-2">
				<div class="row mx-1">
					<span class="lead">Espèces se rapprochant le plus de vos critères : </span>
				</div>
				<div class="row mt-2 ml-1">
					<div class="col-12">
						<div class="row mt-1">
							<div class="col-3">
								<img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid rounded" alt="">
							</div>
							<div class="col-6">
								<span class="list-group-item-heading">Grand dauphin de l'Indo Pacifique <br>
								<i>Tursiops aduncus</i></span>
							</div>
							<div class="col-3">
								<button class="btn btn-outline-success mt-3">+</button>
							</div>
						</div>
						<div class="row mt-1">
							<div class="col-3">
								<img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid rounded" alt="">
							</div>
							<div class="col-6">
								<span class="list-group-item-heading">Stenelle à long bec <br>
								<i>Stenella longirostris</i></span>

							</div>
							<div class="col-3">
								<button class="btn btn-outline-success mt-3">+</button>
							</div>
						</div>	
						<div class="row mt-1">
							<div class="col-3">
								<img src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" class="img-fluid rounded" alt="">
							</div>
							<div class="col-6">
								<span class="list-group-item-heading">Stenelles tâchées <br>
								<i>Stenella attenuata</i></span>
							</div>
							<div class="col-3">
								<button class="btn btn-outline-success mt-3">+</button>
							</div>
						</div>
					</div>
						
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 bg-white mx-0 py-2 px-2">
		<nav class="breadcrumb">
			<a class="breadcrumb-item" href="#">Animalia</a>
			<a class="breadcrumb-item" href="#">Chordata</a>
			<a class="breadcrumb-item" href="#">Mammalia</a>
			<a class="breadcrumb-item" href="#">Cetacea</a>
			<span class="breadcrumb-item active">Delphinidae</span>
		</nav>
		<div class="row">
			<div class="input-group col-12 mb-1">
				<input type="text" placeholder="Rechercher" class="form-control" />
				<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
			</div>
		</div>
		<div class="list-group mt-2">
			<button class="list-group-item list-group-item-success list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<div>
						<h5 class="mb-0">Mammalia</h5>
						<small>(Dauphins, Baleines, Ours, Félins et 10 autres)</small>
					</div>
					<div>
						<span class="badge badge-success badge-pill mx-1 my-1">8</span>
						<span class="badge badge-warning badge-pill mx-1 my-1">3</span>
						<span class="badge badge-danger badge-pill mx-1 my-1">4</span>
					</div>
				</div>
			</button>
			<button class="list-group-item list-group-item-warning list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<div>
						<h5 class="mb-0">Amphibia</h5>
						<small>(Dauphins, Baleines, Ours, Félins et 10 autres)</small>
					</div>
					<div>
						<span class="badge badge-success badge-pill mx-1 my-1">5</span>
						<span class="badge badge-warning badge-pill mx-1 my-1">5</span>
						<span class="badge badge-danger badge-pill mx-1 my-1">5</span>
					</div>
				</div>
			</button>
			<button class="list-group-item list-group-item-danger list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<div>
						<h5 class="mb-0">Reptilia</h5>
						<small>(Dauphins, Baleines, Ours, Félins et 10 autres)</small>
					</div>
					<div>
						<span class="badge badge-success badge-pill mx-1 my-1">2</span>
						<span class="badge badge-warning badge-pill mx-1 my-1">3</span>
						<span class="badge badge-danger badge-pill mx-1 my-1">14</span>
					</div>
				</div>
			</button>
			<button type="button" class="list-group-item list-group-item-action">
				<div class="col-md-3">
					<img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col-md-9">
					<h5 class="list-group-item-heading">Grand dauphin de l'Indo Pacifique </h5>
					<h5 class="list-group-item-heading"><i>Tursiops aduncus</i></h5>
					<b>Taille</b> : 1 à 2 mètres     <b>Apnée </b>: 50 minutes       <b>Milieu de vie </b>: eaux océaniques benthiques
					<div class="row justify-content-end">
						<button class="btn btn-outline-success">Ajouter cette espèce</button>
					</div>
				</div>
			</button>
			<button type="button" class="list-group-item list-group-item-action">
				<div class="col-md-3">
					<img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col-md-9">
					<h5 class="list-group-item-heading">Stenelle à long bec</h5>
					<h5 class="list-group-item-heading"><i>Stenella longirostris</i></h5>
					<b>Taille</b> : 1 à 2 mètres     <b>Apnée </b>: 50 minutes       <b>Milieu de vie </b>: eaux océaniques pélagiques
					<div class="row justify-content-end">
						<button class="btn btn-outline-danger float-xs-right">Retirer cette espèce</button>
					</div>

				</div>
			</button>
			<button type="button" class="list-group-item list-group-item-action">
				<div class="col-md-3">
					<img src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" class="img-fluid rounded" alt="">
				</div>
				<div class="col-md-9">
					<h5 class="list-group-item-heading">Stenelle tacheté</h5>
					<h5 class="list-group-item-heading"><i>Stenella attenuata</i></h5>
					<b>Taille</b> : 1 à 2 mètres     <b>Apnée </b>: 50 minutes       <b>Milieu de vie </b>: eaux océaniques pélagiques
					<div class="row justify-content-end">
						<button class="btn btn-outline-success float-xs-right">Ajouter cette espèce</button>
					</div>

				</div>
			</button>
		</div>
	</div>
</div>

<div class="row my-2">
	<div class="col-5 offset-1 bg-white px-2">
		<div class="row m-2">
			<span class="lead">Classifiez votre sélection</span>
		</div>
		<div class="row mx-0">
			<ul class="col-12 list-group mx-0 mt-2 border-2 rounded">
				<li class="list-group-item justify-content-between">
					<span class="badge badge-default badge-pill">1</span>
					Stenelle tacheté <i>Stenella attenuata</i>
					<i class="fa fa-sort" aria-hidden="true"></i>
				</li>
				<li class="list-group-item justify-content-between">
					<span class="badge badge-default badge-pill">2</span>
					Stenelle à long bec <i>Snenella longirostris</i>
					<i class="fa fa-sort" aria-hidden="true"></i>
				</li>
				<li class="list-group-item justify-content-between">
					<span class="badge badge-default badge-pill">3</span>
					Dauphin de l'Indo Pacifique <i>Tursiops aduncus</i>
					<i class="fa fa-sort" aria-hidden="true"></i>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-5 bg-white px-2 py-3">
		<div class="row mx-0" >
			<span class="lead">Vous avez trouvé une nouvelle espèce ? Entre son nom et nous l'ajouterons à notre livre taxonomique !</span>
		</div>
		<div class="row mt-1 mx-0">
			<input type="text" class="form-control" placeholder="Nom commun" />
		</div>
		<div class="row mt-1 mx-0">
			<input type="text" class="form-control" placeholder="Nom scientifique" />
		</div>
		<div class="row justify-content-end mt-2 mx-0">
			<button class="btn btn-outline-primary">Ajouter</button>
		</div>
	</div>
</div>


<div class="row justify-content-end mt-4">
	<a routerLink="./../upload_media" class="btn btn-outline-primary mr-3">Je ne connais pas l'espèce !</a>
	<a routerLink="./../upload_media" class="btn btn-outline-primary mr-3" >Passez à l'étape suivante</a>
</div>
