
<div class="box-message alert-info  w-75 mx-auto">
	Sélectionnez l'espèce de l'observation que vous souhaitez saisir.
	<br> Vous avez la possibilité d'en choisir plusieurs si vous n'êtes pas sûr de votre choix.
	Si vous n'arivez pas à trouver votre espèce vous pouvez passez directement à l'étape suivante.
</div>


<div class="row">
	<div class="col-4 offset-1 pl-0">
		<div class="col-12 mb-2 px-1 bg-white">
			<div class="flex mx-1 lead">Je ne connais pas l'espèce : <button class="btn btn-outline-primary btn-sm mb-1">Passer cette étape</button></div>
		</div>
		<div class="row mx-0" *ngIf="!question">
			<div class="col-12 px-1 bg-white">
				<div class="row m-1 lead">					
					<div class="col-8 lead">Est-ce que sa longueur dépasse 3 mètres ?</div>
				</div>
				<div class="row">
					<div class="col-10 offset-2 mt-1">
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" class="form-check-input" (click)="answer()">
								Oui
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" class="form-check-input">
								Non
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" class="form-check-input">
								Je ne sais pas
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" class="form-check-input">
								Non pertinent
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mx-0" *ngIf="question">
			<div class="col-12 px-1 bg-white">
				<div class="row m-1 lead">
					<button class="btn btn-outline-primary mx-3" (click)="answer()">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
					</button>
					Dans quel milieu vie l'espèce ?
				</div>
				<div class="row">
					<div class="col-10 offset-2 mt-1">
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" class="form-check-input r1">
								Aquatique
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" class="form-check-input">
								Terrestre
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" class="form-check-input">
								Je ne sais pas
							</label>
		
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" class="form-check-input">
								Non pertinent
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2 mx-0">
			<div class="col-12 bg-white px-1 py-2">
				<div class="row mx-1">
					<span class="lead">Espèces se rapprochant le plus de vos critères : </span>
				</div>
				<div class="row mt-2 ml-1">
					<div class="col-12">
						<div class="row mt-1">
							<div class="col-3">
								<img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid rounded" alt="">
							</div>
							<div class="col-6">
								<span class="list-group-item-heading">Grand dauphin de l'Indo Pacifique <br>
									<i>Tursiops aduncus</i></span>
								</div>
								<div class="col-3">
									<button class="btn btn-outline-success mt-3">+</button>
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-3">
									<img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid rounded" alt="">
								</div>
								<div class="col-6">
									<span class="list-group-item-heading">Stenelle à long bec <br>
										<i>Stenella longirostris</i></span>

									</div>
									<div class="col-3">
										<button class="btn btn-outline-success mt-3">+</button>
									</div>
								</div>
								<div class="row mt-1">
									<div class="col-3">
										<img src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" class="img-fluid rounded" alt="">
									</div>
									<div class="col-6">
										<span class="list-group-item-heading">Stenelles tâchées <br>
											<i>Stenella attenuata</i></span>
										</div>
										<div class="col-3">
											<button class="btn btn-outline-success mt-3">+</button>
										</div>
									</div>
								</div>

							</div>
							<div class="row mx-1">
								<nav class="mx-auto" aria-label="...">
									<ul class="pagination pagination-sm">
										<li class="page-item disabled">
											<a class="page-link" href="#" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
												<span class="sr-only">Previous</span>
											</a>
										</li>
										<li class="page-item active"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
												<span class="sr-only">Next</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 bg-white mx-0 py-2 px-2">
					<nav class="breadcrumb">
						<a class="breadcrumb-item">Animalia</a>
						<a class="breadcrumb-item">Chordata</a>
						<a class="breadcrumb-item">Mammalia</a>
						<a class="breadcrumb-item">Cetartiodactyla</a>
						<a class="breadcrumb-item">Cetacea</a>
						<span class="breadcrumb-item active" (click)="selectGroup()" *ngIf="!group">Odontoceti</span>
						<a class="breadcrumb-item" (click)="selectGroup()" *ngIf="group">Odontoceti</a>
						<span class="breadcrumb-item active" *ngIf="group">Delphinidae</span>
					</nav>
					<div class="row">
						<div class="input-group col-12 mb-1">
							<input type="text" placeholder="Rechercher" class="form-control" />
							<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
						</div>
					</div>

					<!-- ////////////////////////////////////////////////////////////////////////// -->

					<div class="list-group mt-2" *ngIf="question === true && group === true" >
						<button class="list-group-item list-group-item-success list-group-item-action" (click)="selectGroup()" >
							<div class="d-flex w-100 justify-content-between">
								<div>
									<h5 class="mb-0">Delphinidae</h5>
									<small>(Dauphins, Orques)</small>
								</div>
								<div>
									<span class="badge badge-success badge-pill mx-1 my-1">8</span>
									<span class="badge badge-warning badge-pill mx-1 my-1">3</span>
									<span class="badge badge-danger badge-pill mx-1 my-1">4</span>
								</div>
							</div>
						</button>
						<button class="list-group-item list-group-item-warning list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<div>
									<h5 class="mb-0">Monodontidae</h5>
									<small>(Béluga, Narval)</small>
								</div>
								<div>
									<span class="badge badge-success badge-pill mx-1 my-1">5</span>
									<span class="badge badge-warning badge-pill mx-1 my-1">5</span>
									<span class="badge badge-danger badge-pill mx-1 my-1">5</span>
								</div>
							</div>
						</button>
						<button class="list-group-item list-group-item-danger list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<div>
									<h5 class="mb-0">Phocoenidae</h5>
									<small>(Marsouins)</small>
								</div>
								<div>
									<span class="badge badge-success badge-pill mx-1 my-1">2</span>
									<span class="badge badge-warning badge-pill mx-1 my-1">3</span>
									<span class="badge badge-danger badge-pill mx-1 my-1">14</span>
								</div>
							</div>
						</button>
					</div>


					<!-- ////////////////////////////////////////////////////////////////////////// -->

					<div class="list-group mt-2" *ngIf="question === false && group === true" >
						<button class="list-group-item list-group-item-default list-group-item-action" (click)="selectGroup()" >
							<div class="d-flex w-100 justify-content-between">
								<div>
									<h5 class="mb-0">Delphinidae</h5>
									<small>(Dauphins, Orques)</small>
								</div>
								<div>
									<span class="badge badge-default badge-pill mx-1 my-1">15</span>
								</div>
							</div>
						</button>
						<button class="list-group-item list-group-item-default list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<div>
									<h5 class="mb-0">Monodontidae</h5>
									<small>(Béluga, Narval)</small>
								</div>
								<div>
									<span class="badge badge-default badge-pill mx-1 my-1">15</span>
								</div>
							</div>
						</button>
						<button class="list-group-item list-group-item-default list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<div>
									<h5 class="mb-0">Phocoenidae</h5>
									<small>(Marsouins)</small>
								</div>
								<div>
									<span class="badge badge-default badge-pill mx-1 my-1">19</span>
								</div>
							</div>
						</button>
					</div>
					


					<!-- ////////////////////////////////////////////////////////////////////////// -->

					<div class="list-group mt-2" [hidden]="group">
						<button class="btn btn-default" (click)="selectGroup()" >Odontoceti (Odontocètes)</button>
						<button type="button" class="list-group-item list-group-item-action">
							<div class="col-md-3">
								<img src="../../../public/assets/images/taxonomy/tursiops_aduncus.jpg" class="img-fluid rounded" alt="">
							</div>
							<div class="col-md-9">
								<h5 class="list-group-item-heading">Grand dauphin de l'Indo Pacifique </h5>
								<h5 class="list-group-item-heading"><i>Tursiops aduncus</i></h5>
								<b>Taille</b> : 1 à 2 mètres     <b>Apnée </b>: 50 minutes       <b>Milieu de vie </b>: eaux océaniques benthiques
								<div class="row justify-content-end">
									<button class="btn btn-outline-success">Ajouter cette espèce</button>
								</div>
							</div>
						</button>
						<button type="button" class="list-group-item list-group-item-action">
							<div class="col-md-3">
								<img src="../../../public/assets/images/taxonomy/stenella_longirostris.jpg" class="img-fluid rounded" alt="">
							</div>
							<div class="col-md-9">
								<h5 class="list-group-item-heading">Stenelle à long bec</h5>
								<h5 class="list-group-item-heading"><i>Stenella longirostris</i></h5>
								<b>Taille</b> : 1 à 2 mètres     <b>Apnée </b>: 50 minutes       <b>Milieu de vie </b>: eaux océaniques pélagiques
								<div class="row justify-content-end">
									<button class="btn btn-outline-danger float-xs-right">Retirer cette espèce</button>
								</div>

							</div>
						</button>
						<button type="button" class="list-group-item list-group-item-action">
							<div class="col-md-3">
								<img src="../../../public/assets/images/taxonomy/stenella_attenuata.jpg" class="img-fluid rounded" alt="">
							</div>
							<div class="col-md-9">
								<h5 class="list-group-item-heading">Stenelle tacheté</h5>
								<h5 class="list-group-item-heading"><i>Stenella attenuata</i></h5>
								<b>Taille</b> : 1 à 2 mètres     <b>Apnée </b>: 50 minutes       <b>Milieu de vie </b>: eaux océaniques pélagiques
								<div class="row justify-content-end">
									<button class="btn btn-outline-success float-xs-right">Ajouter cette espèce</button>
								</div>

							</div>
						</button>
					</div>
				</div>
			</div>

			<div class="row my-2">
				<div class="col-5 offset-1 bg-white">
					<div class="row m-2">
						<span class="lead">Classifiez votre sélection</span>
					</div>
					<div class="row mx-0">
						<ul class="col-12 list-group mx-0 mt-2 border-2 rounded">
							<li class="list-group-item justify-content-between">
								<span class="badge badge-default badge-pill">1</span>
								Stenelle tacheté <i>Stenella attenuata</i>
								<i class="fa fa-sort" aria-hidden="true"></i>
							</li>
							<li class="list-group-item justify-content-between">
								<span class="badge badge-default badge-pill">2</span>
								Stenelle à long bec <i>Snenella longirostris</i>
								<i class="fa fa-sort" aria-hidden="true"></i>
							</li>
							<li class="list-group-item justify-content-between">
								<span class="badge badge-default badge-pill">3</span>
								Dauphin de l'Indo Pacifique <i>Tursiops aduncus</i>
								<i class="fa fa-sort" aria-hidden="true"></i>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-5 bg-white px-2 py-3">
					<div class="row mx-0" >
						<span class="lead">Vous avez trouvé une nouvelle espèce ? Entre son nom et nous l'ajouterons à notre livre taxonomique !</span>
					</div>
					<div class="row mt-1 mx-0">
						<input type="text" class="form-control" placeholder="Nom commun" />
					</div>
					<div class="row mt-1 mx-0">
						<input type="text" class="form-control" placeholder="Nom scientifique" />
					</div>
					<div class="row justify-content-end mt-2 mx-0">
						<button class="btn btn-outline-primary">Ajouter</button>
					</div>
				</div>
			</div>


			<div class="row  mt-4">
				<div class="col-2 offset-9 justify-content-end">
					<a routerLink="./../upload_media" class="btn btn-outline-primary" >Passez à l'étape suivante</a>
				</div>
			</div>
