/* You can add global styles to this file, and also import other style files */

body {
    /* margin-top: 15px;
    margin-bottom: 10px; */
}

.navbar-brand>img {
    display: inline;
}

.alert {
	z-index: 999;
	position: fixed;
	bottom: 15px;
	left: 25%;
	width: 50%;
	opacity: 0.9;
}

.vcenter {
	display: flex;
    align-items: center;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.text-center {
   text-align:center
}

.top-gap-20 {
	margin-top : 20px;
}

.top-gap-10 {
	margin-top : 10px;
}

.v-padding-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.bottom-gap-20 {
	margin-bottom: 20px;
}

.text-center {
	text-align: center;
}

.nav-center {
    margin:0;
    float:none;
}

.navbar{
    text-align:center;
}

.faded_background {
  border-top: thin solid #a0a0a0;
  /* margin-left: 15px;
  margin-right: 15px; */

  background-color: #F7F7F7;
}

.bg-white {
  background-color: white;
}