<div class="bg-faded">
  <div class="row mx-0 p-2 mx-0">
    <div class="col-3 d-flex flex-column">
      <h3>Org Full Name</h3>
      <h4>O.F.N</h4>
      <p> Ici l'organisme peut mettre une breve description, une pharse clef, l'objectif principal et quelques informations essentielles...</p>
      <p> Ici l'organisme peut mettre une breve description, le nombre de membre et tout...</p>
    </div>

    <div class="col-md-3 mx-auto">
      <div class="image-container">
        <div class="relative-container height-60">
          <img class= "mx-auto d-block back-img w-100" src="../../../public/assets/images/structures/business_logo_4.png" alt="Business 3 Icon" />
        </div>
      </div>
    </div>
    <div class="col-6">
      <p> Ici l'organisme peut mettre une description, Liste des objectifs et quelques informations essentielles, ce qu'il recherche comme information, pourquoi, sa localisation</p>
      <p>- Ici l'organisme peut mettre une description,</p><p>- et Ici l'organisme peut mettre une description</p><p>- Ici l'organisme peut mettre une description, Liste des objectifs et quelques informations essentielles, ce qu'il recherche comme information, pourquoi, sa localisation</p><p>Comme information, pourquoi, sa localisation et quelques information suplementaire</p>
      <p>http://www.Adressedusitewebdeloranisme.com</p>
    </div>
  </div>

</div>
