<div class="bg-faded">
  <div class="row mx-0 p-2 mx-0">
    <div class="col-3 d-flex flex-column">
      <h3>TsiÔno</h3>
      <p> Le programme TsiÔno, qui signifie « J’ai vu » en shimaoré, invite l’ensemble des usagers de la mer à partager leurs observations de la biodiversité marine à Mayotte. </p>
    </div>

    <div class="col-md-3 mx-auto">
      <div class="image-container">
        <div class="relative-container height-60">
          <img class= "mx-auto d-block back-img w-100" src="../../../public/assets/images/structures/business_logo_4.png" alt="Business 3 Icon" />
        </div>
      </div>
    </div>
    <div class="col-6">
      <h4> Liste des membre</h4>
      <p>Membre 1</p><p>Membre 2 (connecté)</p>
      <a href="http://www.tsiono.fr/">http://www.tsiono.fr/</a>
    </div>
  </div>

</div>
