<div class="bg-faded">
	<div class="row mx-0">
		<div class="col px-0">
			<nav class="navbar navbar-toggleable-md navbar-light">
				<ul class="nav navbar-nav">
					<li class="nav-item mr-1">
						<div class=""><button [routerLink]="['/organisme/home']" routerLinkActive="active" class="nav-item btn btnmenu btnmenu-OrgFil">Informations</button></div>
					</li>
					<li class="nav-item mr-1">
						<div class=""><button [routerLink]="['/organisme/presentation']" routerLinkActive="active" class="nav-item btn btnmenu btnmenu-OrgPresentation">Présentation</button></div>
					</li>
					<li class="nav-item mr-1">
						<div class=""><button [routerLink]="['/organisme/member']" routerLinkActive="active" class="nav-item btn btnmenu btnmenu-OrgMembre">Membres</button></div>
					</li>
					<li class="nav-item mr-1">
						<div class=""><button [routerLink]="['/organisme/recherche_zone']" routerLinkActive="active" class="nav-item btn btnmenu btnmenu-OrgParcObs">Parc d'observation</button></div>
					</li>
					<li class="nav-item mr-1">
						<div class=""><button routerLink="/organisme/postuler" routerLinkActive="active" class="nav-item btn btnmenu btnmenu-OrgPostuler">Postuler</button></div>
					</li>

				</ul>
			</nav>
		</div>
		<div class="col px-0">
			<nav class="navbar navbar-toggleable-md navbar-light pull-right">
				<ul class="nav navbar-nav">
					<li class="nav-item mr-1">
						<div class=""><a routerLink="./../new_observation" routerLinkActive="active" class="nav-item btn btnmenu btnmenu-OrgDonnees">Données collectées</a></div>
					</li>
					<li class="nav-item ml-1">
						<div class="">
							<button [routerLink]="['/organisme/member_management']" routerLinkActive="active" class="nav-item btn btnmenu btnmenu-OrgAdmin">Gestion des membres</button>
						</div>
					</li>
					<li class="nav-item btn-group ml-1" role="group">
						<div class="">
							<button id="btndata" type="button" class="btn btnmenu btnmenu-OrgAdmin dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Choix des données
							</button>
							<div class="dropdown-menu" aria-labelledby="btndata">
								<a [routerLink]="['/organisme/data_choice/species']" routerLinkActive="active" class="dropdown-item" href="#">Sélection des espèces</a>
								<a [routerLink]="['/organisme/data_choice/location']" routerLinkActive="active" class="dropdown-item" href="#">Zone de recherche</a>
								<a [routerLink]="['/organisme/data_choice/attrs_data']" class="dropdown-item" href="#">Données souhaitées</a>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
