<div class="bg-faded">
  <div class="row mx-0 p-2 mx-0">
    <div class="col-3 d-flex flex-column">
      <div class="row">
      <div class=""><h3>A.F.A.K.E</h3></div>
      <div class="ml-2"><button class="btn btn-outline-primary btn-sm mb-1"><i class="fa fa-plus" aria-hidden="true"></i> Suivre</button></div>
      <div class="ml-2"><button class="btn btn-outline-primary btn-sm mb-1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Postuler</button></div>
      <p> Le programme A.F.A.K.E invite l’ensemble des usagers de la mer à partager leurs observations de la biodiversité marine. </p>
    </div>
  </div>
  <div class="col-md-3 mx-auto">
    <div class="image-container">
      <div class="relative-container height-60">
        <img class= "mx-auto d-block back-img w-100" src="../../../public/assets/images/structures/business_logo_4.png" alt="Business 3 Icon" />
      </div>
    </div>
  </div>
  <div class="ml-auto col-3">
    <h4> Liste des membres</h4>
    <div class="d-flex flex-row">
      <img class="img-fluid rounded size-icon align-self-center m-1" src="../../../../public/assets/images/profil/profil2.jpg" alt="Card image cap">
      <span class="lead align-self-center">Jacob</span>
      <div class="connectcircle align-self-center m-1"></div>
    </div>
    <div class="d-flex flex-row">
      <img class="img-fluid rounded size-icon align-self-center m-1" src="../../../../public/assets/images/profil/profil3.jpg" alt="Card image cap">
      <span class="lead align-self-center">Marie</span>
      <div class="connectcircle align-self-center m-1"></div>
    </div>

    <div class="d-flex flex-row">
      <img class="img-fluid rounded size-icon align-self-center m-1" src="../../../../public/assets/images/profil/profile_picture.png" alt="Card image cap">
      <span class="lead align-self-center">Manguo</span>
      <div class="connectcircle align-self-center m-1"></div>
    </div>

    <div class="align-bottom">
      <a href="http://www.tsiono.fr/">http://www.afake.fr/</a><br>
      <i class="fa fa-facebook-official fa-2x" aria-hidden="true" style="color:#0275d8"></i>
      <i class="fa fa-twitter-square fa-2x" aria-hidden="true" style="color:#0275d8"></i>
    </div>
  </div>
</div>

</div>
