<div class="bg-faded">
	<div class="row mx-0 v-padding-20 mx-0">
		<div class="col-md-5 top-gap-20">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-2">
					<div class="image-container">
						<div class="relative-container">
							<img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/teal_medal_icon.png" alt="Teal Medal Icon" />
							<img class= "icon-img" src="../../../public/assets/images/medals/icons/bird_icon.png" alt="Bird icon" />
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="image-container">
						<div class="relative-container">
							<img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/gold_medal_icon.png" alt="Gold Medal Icon" />
							<img class= "icon-img" src="../../../public/assets/images/medals/icons/snake_icon.png" alt="Bird icon" />
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="image-container">
						<div class="relative-container">
							<img class= " mx-auto d-block back-img" src="../../../public/assets/images/medals/contours/bronze_medal_icon.png" alt="Bronze Medal Icon" />
							<img class= "icon-img" src="../../../public/assets/images/medals/icons/shark_icon.png" alt="Bird icon" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<h6 class="h6 top-gap-10">Vous avez partagé <b>150</b> observations et obtenu 6 trophés !</h6>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="row">
				<div class="col-md-12 text-center">
					<span class="lead">Bienvenue {{username}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="../../../public/assets/images/profil/profile_picture.png" alt="Image de votre profil" class="mx-auto d-block width-60 top-gap-20">
				</div>
				</div>
		</div>
		<div class="col-md-2 offset-md-3 top-gap-20" [routerLink]="['/organisme/home']" routerLinkActive="active" >
			<div class="row">
				<div class="col">
					<div class="image-container" >
						<div class="relative-container height-60">
							<img class= "mx-auto d-block back-img" src="../../../public/assets/images/structures/business_logo_1.png" alt="Business 1 Icon" />
						</div>
					</div>
				</div>
				<div class="col">
					<div class="image-container">
						<div class="relative-container height-60">
							<img class= "mx-auto d-block back-img" src="../../../public/assets/images/structures/business_logo_2.png" alt="Business 2 Icon" />
						</div>
					</div>
				</div>
				<div class="w-100"></div>
				<div class="col-md-6">
					<div class="image-container">
						<div class="relative-container height-60">
							<img class= "mx-auto d-block back-img" src="../../../public/assets/images/structures/business_logo_3.png" alt="Business 3 Icon" />
						</div>

					</div>
				</div>
				<div class="col-md-6">
					<div class="image-container">
						<div class="relative-container height-60">
							<img class= "mx-auto d-block back-img" src="../../../public/assets/images/structures/business_logo_4.png" alt="Business 4 Icon" />
						</div>

					</div>
				</div>
				<div class="col-md-6">
					<div class="image-container">
						<div class="relative-container height-60">
							<img class= "mx-auto d-block back-img" src="../../../public/assets/images/structures/business_logo_5.png" alt="Business 5 Icon" />
						</div>

					</div>
				</div>
				<div class="col-md-6">
					<div class="image-container">
						<div class="relative-container height-60">
							<img class= "mx-auto d-block back-img" src="../../../public/assets/images/structures/business_logo_6.png" alt="Business 6 Icon" />
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

